<ng-include src="'src/modules/components/hr/employee/dialogs/employeeDialog.html'"></ng-include>
<div class="main-section p++">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-worker"></i>
            </div>
            <span class="toolbar__label fs-title">HR Admin Dashboard</span>
        </div>
    </div>
    <div class="mt+">
    <div class="main-section__content">
        <div class="paragraph">
            <h4 class="main-section__subtitle">Quick Links</h4>
			<div flex-container="row" flex-gutter="24">
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Add New Employee</strong>
			                <span class="fs-subhead tc-black-2 display-block">Employee</span>
			            </div>
			            <div class="card__actions content_right">
			                <button class="btn btn--m btn--black btn--flat" lx-ripple>Go</button>
			            </div>
			        </div>
			    </div>
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Assign Leave</strong>
			                <span class="fs-subhead tc-black-2 display-block">Employee</span>
			            </div>

			            <div class="card__actions content_right">
			                <button class="btn btn--m btn--black btn--flat" lx-ripple>Go</button>
			            </div>
			        </div>
			    </div>
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Create Opening</strong>
			                <span class="fs-subhead tc-black-2 display-block">Recuitment</span>
			            </div>

			            <div class="card__actions content_right">
			                <a href="#/hr/opening/add" class="btn btn--m btn--black btn--flat" lx-ripple>Go</a>
			            </div>
			        </div>
			    </div>
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Timesheets</strong>
			                <span class="fs-subhead tc-black-2 display-block">Employee</span>
			            </div>

			            <div class="card__actions content_right">
			                <button class="btn btn--m btn--black btn--flat" lx-ripple>Go</button>
			            </div>
			        </div>
			    </div>
			</div>
            <p>
            </p>
        </div>
    </div>
    <div class="main-section__content">
        <div class="paragraph">
            <h4 class="main-section__subtitle">Quick Reports</h4>
			<div flex-container="row" flex-gutter="24">
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Employee Report</strong>
			                <span class="fs-subhead tc-black-2 display-block">Employee</span>
			            </div>
			            <div class="card__actions content_right">
			                <button class="btn btn--m btn--black btn--flat" lx-ripple>Show</button>
			            </div>
			        </div>
			    </div>
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Candidates Report</strong>
			                <span class="fs-subhead tc-black-2 display-block">Recruitment</span>
			            </div>

			            <div class="card__actions content_right">
			                <button class="btn btn--m btn--black btn--flat" lx-ripple>Show</button>
			            </div>
			        </div>
			    </div>
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Opening Report</strong>
			                <span class="fs-subhead tc-black-2 display-block">Recuitment</span>
			            </div>

			            <div class="card__actions content_right">
			                <button class="btn btn--m btn--black btn--flat" lx-ripple>Show</button>
			            </div>
			        </div>
			    </div>
			    <div flex-item>
			        <div class="card">
			            <div class="p+">
			                <strong class="fs-headline display-block">Timesheets Report</strong>
			                <span class="fs-subhead tc-black-2 display-block">Employee</span>
			            </div>

			            <div class="card__actions content_right">
			                <button class="btn btn--m btn--black btn--flat" lx-ripple>Show</button>
			            </div>
			        </div>
			    </div>
			</div>
            <p>
            </p>
        </div>
    </div>
    </div>
</div>