<table class="data-table" st-table="vm.leaveRequests">
        <thead>
            <tr>
                <th colspan='7' style="padding: 0px 20px;">
                    <header class="data-table-header tc-black" style="padding: 0px">
                    <div class="data-table-header__label">
                        <span class="fs-title">My Leave Requests</span>
                    </div>

                    <lx-search-filter st-search position="right" closed></lx-search-filter>
                </header>
                </th>
            </tr>
            <tr class="data-table-row">
                <th st-sort="id" class="data-table__sortable-cell">ID</th>
                <th st-sort="leave_type" class="data-table__sortable-cell">Leave Type</th>
                <th st-sort="created_at" class="data-table__sortable-cell">Date Filed</th>
                <th st-sort="date_start" class="data-table__sortable-cell">Leave From</th>
                <th st-sort="date_end" class="data-table__sortable-cell">Leave To</th>
                <th st-sort="leave_status" class="data-table__sortable-cell">Status</th>
                <th style="width: 50px">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in vm.leaveRequests">
                <td>{{row.id}}</td>
                <td>{{row.leave_type}}</td>
                <td>{{row.created_at | asDate | date:'medium'}}</td>
                <td>{{row.date_start | asDate | date:'longDate'}}</td>
                <td>{{row.date_end | asDate | date:'longDate'}}</td>
                <td>
                    <i ng-if="row.leave_status == 'p'" class="icon icon--s tc-blue-400 icon--flat mdi mdi-bookmark"  lx-tooltip="Pending" tooltip-position="bottom"></i>
                    <i ng-if="row.leave_status == 'a'" class="icon icon--s tc-green-400 icon--flat mdi mdi-bookmark-check"  lx-tooltip="Approved" tooltip-position="bottom"></i>
                    <i ng-if="row.leave_status == 'd'" class="icon icon--s tc-red-400 icon--flat mdi mdi-bookmark-remove "  lx-tooltip="Disapproved" tooltip-position="bottom"></i>
                </td>
                <td>
                    <lx-dropdown position="right" over-toggle="true">
                        <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                            <i class="mdi mdi-dots-horizontal"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link" 
                                    ng-click="vm.editRequest(row.id)">
                                    <i class="mdi mdi-pencil"></i> Edit</a>
                                </li>
                                <li>
                                    <a class="dropdown-link" ng-click="vm.deleteRequest(row.id)" >
                                    <i class="mdi mdi-delete"></i> Delete</a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>