<lx-dialog class="dialog dialog--l" id="employeeDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">Add New Employee</span>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="First Name">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.first_name">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Middle Name">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.middle_name">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Last Name">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.last_name">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-select ng-model="vm.employee.position" placeholder="Position" choices="vm.filters.positions" error="fezge" floating-label>
                    <lx-select-selected>
                        {{ $selected.position}}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.position }}
                    </lx-select-choices>
                </lx-select>
            </div>
            <div flex-item>
                <lx-select ng-model="vm.employee.department" placeholder="Department" choices="vm.filters.departments" error="fezge" floating-label>
                    <lx-select-selected>
                        {{ $selected.department}}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.department }}
                    </lx-select-choices>
                </lx-select>
            </div>
            <div flex-item>
                <lx-select ng-model="vm.employee.exemption" placeholder="Tax Exemption" choices="vm.filters.tax_exemption" error="fezge" floating-label>
                    <lx-select-selected>
                        {{ $selected.description}}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.description }}
                    </lx-select-choices>
                </lx-select>
            </div>
            <div flex-item>
                <lx-date-picker model="vm.employee.hire_date" label="Hire Date" locale="en" allow-clear="true"></lx-date-picker>
            </div>
            <div flex-item>
                <lx-date-picker model="vm.employee.endo_date" label="End of Contract Date" locale="en" allow-clear="true"></lx-date-picker>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.addEmployee()" lx-ripple>Add</button>
    </div>
</lx-dialog>