<lx-dialog class="dialog dialog--l" id="uploadAttendanceDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">Upload Attendance Record</span>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div ng-if="!vm.loading" flex-item style="text-align: center">
                <button class="btn btn--l btn--blue btn--icon" ngf-select 
                    ng-model="vm.file" 
                    class="btn btn--m btn--blue btn--icon" 
                    lx-ripple lx-tooltip="Upload attendance record" tooltip-position="bottom">
                    <i class="mdi mdi-upload"></i>
                </button>
            </div>
            <div flex-item style="text-align: center" ng-if="!vm.loading">
                {{vm.file.name}}
            </div>
            <div flex-item style="text-align: center" ng-if="vm.loading">
                <lx-progress type="circular" color="#5fa2db"></lx-progress>
            </div>
        </div>
    </div>
    <div class="dialog__actions">
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.uploadAttendance()" lx-ripple>Upload</button>
    </div>
</lx-dialog>