    <lx-dialog class="dialog dialog--l" id="viewLeaveRequestDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{vm.employeeLeave[0].first_name + ' ' + vm.employeeLeave[0].last_name }}
            </span>
            <div class="toolbar__right tc-white fs-title">
                <span class="fs-subhead display-block mt">
                    Date Filed: {{vm.employeeLeave[0].created_at | asDate | date:'longDate'}}
                </span>
            </div>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Leave Type</span>
                <span class="fs-title display-block">{{vm.employeeLeave[0].leave_type}}</span>
            </div>
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Leave Range</span>
                <span class="fs-title display-block">
                    {{(vm.employeeLeave[0].date_start | asDate | date:'mediumDate') + ' - ' + (vm.employeeLeave[0].date_end | asDate | date:'mediumDate')}}</span>
            </div>
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Leave Reason</span>
                <span class="fs-title display-block">{{vm.employeeLeave[0].reason}}</span>
            </div>
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Employee Remarks</span>
                <span class="fs-title display-block">{{vm.employeeLeave[0].employee_remarks}}</span>
            </div>
            <div flex-item class="mb++">
                <lx-text-field label="Remarks">
                    <input type="text" ng-model="vm.remarks">
                </lx-text-field>
            </div>
        </div>
    </div>
    <div class="dialog__actions">
        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button ng-if="row.leave_status === 'p'" ng-click="vm.updateLeaveRequest('a', vm.employeeLeave[0].id)" 
            class="btn btn--l btn--blue btn--flat" ng-click="vm.apply(vm.opening[0].id)"  style="float: left" lx-ripple>Approve</button>
        <button ng-if="row.leave_status === 'p'" ng-click="vm.updateLeaveRequest('d', vm.employeeLeave[0].id)" 
            class="btn btn--l btn--red btn--flat" ng-click="vm.apply(vm.opening[0].id)" style="float: left" lx-ripple>Disapprove</button>
    </div>
</lx-dialog>