    <lx-dialog class="dialog dialog--l" id="addResumeDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">Add New Resume</span>
            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" ngf-select 
                    ng-model="vm.file" 
                    class="btn btn--m btn--blue btn--icon" 
                    lx-ripple lx-tooltip="Upload resume" tooltip-position="bottom">
                    <i class="mdi mdi-upload"></i>
                </button>
            </div>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Resume Title">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.resume.title">
                </lx-text-field>
            </div>
            <div flex-item>
            </div>
            <div flex-item>
                <div class="checkbox mt+">
                    <input 
                        type="checkbox" 
                        id="checkbox2" 
                        class="checkbox__input" 
                        ng-true-value="'y'" 
                        ng-false-value="'n'" 
                        ng-model="vm.resume.isDefault">
                    <label for="checkbox2" class="checkbox__label">Set this resume as default</label>
                    <span class="checkbox__help">Default resume will be seen by the recruitment officer.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--l btn--blue btn--flat" ng-click="vm.addResume()" lx-ripple>Add</button>
    </div>
</lx-dialog>