<ng-include src="'src/modules/components/admin/user/dialogs/addUserDialog.html'"></ng-include>
<div class="main-section">
    <h3 class="main-section__title">User Management</h3>
	<div class="main-section__content">
        <div class="data-table-container">
            <table class="data-table" st-table="vm.users">
                <thead>
                	<tr>
                		<th colspan='6'>
                			<header class="data-table-header tc-black">
        			        <div class="data-table-header__label">
        			            <span class="fs-title">User List</span>
        			        </div>

        			        <lx-search-filter st-search position="right" closed></lx-search-filter>
        			        <div class="data-table-header__actions">
        			            <button class="btn btn--l btn--blue btn--fab" ng-click="vm.openDialog('addUserDialog')"  lx-tooltip="Add User" tooltip-position="bottom" lx-ripple>
        			                <i class="mdi mdi-account-plus"></i>
        			            </button>
        			        </div>
        			    </header>
                		</th>
                	</tr>
                    <tr class="data-table-row">
                        <th st-sort="id" class="data-table__sortable-cell">ID</th>
                        <th colspan="3" st-sort="first_name" class="data-table__sortable-cell">User Full Name</th>
                        <th st-sort="client_id" class="data-table__sortable-cell">User Type</th>
                        <th style="width: 50px">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="data-table-row" ng-repeat="row in vm.users">
                        <td>{{row.id}}</td>
                        <td>{{row.last_name + ', '}}</td>
                        <td>{{row.middle_name}}</td>
                        <td>{{row.first_name}}</td>
                        <td>
                        	<span ng-if="row.client_id == 'admin'" class="fs-body-1 display-block tc-deep-orange-500">Admin</span>
                        	<span ng-if="row.client_id == 'hr'" class="fs-body-1 display-block tc-green-500">HR</span>
                        	<span ng-if="row.client_id == 'employee'" class="fs-body-1 display-block tc-blue-500">Employee</span>
                        	<span ng-if="row.client_id == 'applicant'" class="fs-body-1 display-block tc-indigo-500">Applicant</span>
                        	<span ng-if="row.client_id == 'accounting'" class="fs-body-1 display-block tc-yellow-500">Accounting</span>
                        </td>
                        <td>
                        	<lx-dropdown position="right" over-toggle="true">
                        		<button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                            		<i class="mdi mdi-dots-horizontal"></i>
                        		</button>

                        		<lx-dropdown-menu>
        		                    <ul>
        		                        <li><a class="dropdown-link" ng-click="vm.showEditDialog(row.id)"><i class="mdi mdi-pencil"></i> Edit</a></li>
        		                        <li ng-if="row.id !== user"><a class="dropdown-link" ng-click="vm.deleteUser(row.id)" ><i class="mdi mdi-account-minus"></i> Delete</a></li>
        		                    </ul>
                        		</lx-dropdown-menu>
                    		</lx-dropdown>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>