<div ng-class="user_type !== 'applicant'? 'main-section' : ''">
    <h3 class="main-section__title">Account Settings</h3>
    <div class="main-section__content">
        <div flex-container="row" flex-gutter="24" >
            <div flex-item="6">
                <div class="card">
                    <div class="p+">
                        <strong class="fs-headline display-block">Profile</strong>
                        <span class="fs-subhead tc-black-2 display-block">Update your profile.</span>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="First name">
                                <input type="text" ng-disabled="vm.loading" ng-model="vm.user.profiles.first_name">
                            </lx-text-field>
                        </div>
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Middle name">
                                <input type="text" ng-disabled="vm.loading" ng-model="vm.user.profiles.middle_name">
                            </lx-text-field>
                        </div>
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Last name">
                                <input type="text" ng-disabled="vm.loading" ng-model="vm.user.profiles.last_name">
                            </lx-text-field>
                        </div>
                            </div>
                            <div flex-container="column" flex-gutter="24" class="mt++">
                            </div>
                        </div>
                    </div>
                    <div class="card__actions" style="text-align: right;">
                        <button ng-click="vm.saveProfile()" class="btn btn--m btn--blue btn--flat" lx-ripple>Save Changes</button>
                    </div>
                </div>
            </div>
            <div flex-item="6">
                <div class="card">
                    <div class="p+">
                        <strong class="fs-headline display-block">Credentials</strong>
                        <span class="fs-subhead tc-black-2 display-block">Update login id and password</span>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="{{(user_type === 'employee') ? 'Login ID' : 'Username'}}">
                                <input type="text" ng-disabled="user_type === 'employee'" ng-model="vm.user.username">
                            </lx-text-field>
                        </div>
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Password">
                                <input type="password" ng-disabled="vm.loading" ng-model="vm.user.password">
                            </lx-text-field>
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__actions" style="text-align: right;">
                        <button ng-click="vm.saveCredentials()" class="btn btn--m btn--blue btn--flat" lx-ripple>Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>