    <lx-dialog class="dialog dialog--l" id="viewOpeningDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{vm.opening[0].title}}
            </span>
            <div class="toolbar__right tc-white fs-title">
                <span class="fs-subhead display-block mt">
                    Date Posted: {{vm.opening[0].created_at | asDate | date:'medium'}}
                </span>
            </div>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Company</span>
                <span class="fs-title display-block">{{vm.opening[0].company}}</span>
            </div>
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Location</span>
                <span class="fs-title display-block">{{vm.opening[0].location}}</span>
            </div>
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Job Description</span>
                <span class="fs-title display-block">{{vm.opening[0].job_description}}</span>
            </div>
            <div flex-item class="mb++">
                <span class="fs-subhead display-block">Job Qualifications</span>
                <span class="fs-title display-block">{{vm.opening[0].qualifications}}</span>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--l btn--blue btn--flat" ng-click="vm.apply(vm.opening[0].id)" lx-ripple>Apply Now</button>
    </div>
</lx-dialog>