<div class="banner" style="padding: 150px">
    
</div>

<div class="github-activity">
    <div class="wrapper">
    </div>
</div>

<div class="bgc-white-1 mt++" flex-container="row" flex-align="center" flex-align-items='center' style="height: 200px">
    <div flex-item="5" class="p+">
        <div class="p++" style="margin-top: -350px">
            <div flex-container="row">
                <div flex-item class="tc-white pt">
                    <span class="fs-display-1 display-block">Asia Wide 
                        <p><small class="tc-white">Human Resources and Consultancy Corp.</small></p>
                    </span>
                </div>
            </div>
        </div>
    <div class="card">
        <form ng-submit="vm.resetPassword()">
            <div class="p++">
                <div flex-item="5">
                    <span class="fs-headline display-block" style="font-weight: 300">Password Reset</span>
                        <span class="fs-subhead tc-black-2 display-block">Please provide your username or email to reset your password.</span>
                </div>
                <div flex-container="column">
                    <div flex-item>
                        <lx-text-field ng-disabled="vm.loading" label="Username / Email">
                            <input type="text" ng-disabled="vm.loading" ng-model="vm.request_username">
                        </lx-text-field>
                    </div>
                </div>
            </div>
            <div class="card__actions p+ content_right">
                <button type="submit" ng-disabled="vm.loading" class="btn btn--l btn--blue btn--raised" lx-ripple>Reset My Password</button>
            </div>
        </form>
    </div>
    <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
    <div class="p++">
        <div flex-item="5" class="content_right">
            <span class="fs-subhead display-block">Are you a new member? <a class="link" href="#/register">Register here!</a></span>
        </div>
    </div>
</div>