<div class="banner" style="padding: 150px">
    
</div>

<div class="github-activity">
    <div class="wrapper">
    </div>
</div>

<div class="bgc-white-1 mt++" flex-container="row" flex-align="center" flex-align-items='center' style="height: 200px">
    <div flex-item="5" class="p+">
        <div class="p++" style="margin-top: -350px">
            <div flex-container="row">
                <div flex-item class="tc-white pt">
                    <span class="fs-display-1 display-block">A & P 
                        <p><small class="tc-white">Service Incorporated</small></p>
                    </span>
                </div>
            </div>
        </div>
    <div class="card">
        <form ng-submit="vm.login()">
            <div class="p++">
                <div flex-item="5">
                    <span class="fs-headline display-block" style="font-weight: 300">User Login</span>
                </div>
                <div flex-container="column">
                    <div flex-item>
                        <lx-text-field label="Username / Email">
                            <input type="text" ng-model="vm.username">
                        </lx-text-field>
                    </div>
                </div>
                <div flex-container="column">
                    <div flex-item>
                        <lx-text-field label="Password">
                            <input type="password" ng-model="vm.password">
                        </lx-text-field>
                    </div>
                </div>
            </div>
            <div class="card__actions p+ content_right">
                <button type="submit" class="btn btn--l btn--blue btn--raised" lx-ripple>Login</button>
               <!--  <a href="#/password-reset" class="btn btn--l btn--blue btn--flat" style="float: left" lx-ripple>Forgot Password</a> -->
            </div>
        </form>
    </div>
<!--     <div class="p++">
        <div flex-item="5" class="content_right">
            <span class="fs-subhead display-block">Are you a new member? <a class="link" href="#/register">Register here!</a></span>
        </div>
    </div> -->
</div>