<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="#/admin/dashboard" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Dashboard</a>
            </li>
            <li>
                <a href="#/admin/users" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Users</a>
            </li>
            <li>
                <a href="#/admin/database" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Database</a>
            </li>
            <li>
                <a href="#/admin/audit" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Audit Trail</a>
            </li>
            <li>
                <a href="#/admin/misc" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Miscellaneous</a>
            </li>
        </ul>
    </div>
</div>
