<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="#/employee/dashboard" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Dashboard
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-home pt1-5"></i>
                </a>
            </li>
            <li>
                <a href="#/users" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Timesheet
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-account-multiple pt1-5"></i></a>
            </li>
            <li has-permission>
                <a href="#/employee/leaves" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Leave Requests
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-wallet-travel pt1-5"></i></a>
            </li>
            <li>
                <a href="#/employee/ledger" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Ledger
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-newspaper pt1-5"></i></a>
            </li>
        </ul>
    </div>
</div>
