<div class="sidebar-filter" ng-class="{ 'sidebar-filter--is-shown': Sidebar.isSidebarShown() }" ng-click="Sidebar.toggleSidebar()"></div>

<div class="sidebar" ng-class="{ 'sidebar--is-shown': Sidebar.isSidebarShown() }">
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="#/hr/dashboard" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Dashboard
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-home pt1-5"></i>
                </a>
            </li>
            <li>
                <a href="#/hr/employee" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Employees
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-account-multiple pt1-5"></i></a>
            </li>
            <!-- <li>
                <a href="#/hr/recruitment" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Recruitment
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-account-multiple pt1-5"></i></a>
            </li> -->
            <li>
                <a href="#/hr/payroll" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Payroll
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-cash-usd pt1-5"></i></a>
            </li>
  <!--           <li>
                <a href="#/hr/reports" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Reports    
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-worker pt1-5"></i></a>
            </li>
            <li>
                <a href="#/hr/announcement" class="sidebar-menu__link" ng-click="vm.Sidebar.toggleSidebar()">Announcements    
                    <i class="icon icon--xs icon--grey icon--flat mdi mdi-worker pt1-5"></i></a>
            </li> -->
        </ul>
    </div>
</div>
