<div class="p++">
    <strong class="fs-headline display-block">
        <span ng-if="vm.display === 'create' && !vm.isEdit">Create New Leave Request</span>
        <span ng-if="vm.isEdit">Edit Leave Request</span>
    </strong>
    <div flex-container="column" flex-gutter="24">
            <div flex-item>
                <lx-select disabled="vm.loading" ng-model="vm.selected_leave_type" placeholder="Leave Type" choices="vm.filters.leave_types" error="fezge" floating-label>
                    <lx-select-selected>
                        {{ $selected.leave_type}}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.leave_type }}
                    </lx-select-choices>
                </lx-select>
            </div>
            <div flex-item>
                <lx-date-picker model="vm.leave.date_start" label="Start Date" locale="en" allow-clear="true">
                </lx-date-picker>
            </div>
            <div flex-item>
                <lx-date-picker model="vm.leave.date_end" label="End Date" locale="en" allow-clear="true">
                </lx-date-picker>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Reason">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.leave.reason">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Remarks">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.leave.employee_remarks">
                </lx-text-field>
            </div>
</div>
<lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        </div>
<div class="card__actions" style="text-align: right">
    <button ng-click="vm.toggleList('list')" class="btn btn--l btn--black btn--flat" lx-ripple>Cancel</button>
    <button ng-if="vm.display === 'create' && !vm.isEdit" ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.saveLeave()" lx-ripple>Create</button>
    <button ng-if="vm.isEdit" ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.editLeave()" lx-ripple>Edit</button>
</div>