<div class="main-section p++" ng-controller="ReportController as vm">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-worker"></i>
            </div>
            <span class="toolbar__label fs-title">Reports</span>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" class="mt++">
        <div flex-item='3'>
            <div class="card mt+" ng-click="vm.toggleDisplay('employee')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Employee Report</button>
            </div>
            <div class="card mt" ng-click="vm.toggleDisplay('resignations')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Resignations Report</button>
            </div>
            <div class="card mt" ng-click="vm.toggleDisplay('terminations')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Terminations Report</button>
            </div>
            <div class="card mt" ng-click="vm.toggleDisplay('leave')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Leave Report</button>
            </div>
            <div class="card mt" ng-click="vm.toggleDisplay('opening')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Opening Report</button>
            </div>
            <div class="card mt" ng-click="vm.toggleDisplay('candidates')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Candidate Report</button>
            </div>
            <div class="card mt" ng-click="vm.toggleDisplay('payroll')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Payroll Summary Report</button>
            </div>
            <div class="card mt" ng-click="vm.toggleDisplay('announcement')">
                <button style="width: 100%" class="btn btn--l btn--grey btn--flat" lx-ripple>Announcement Report</button>
            </div>
        </div>

    <div flex-item>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="employee">
            <div class="p+">
                <strong class="fs-title display-block">Generate Employee Report</strong>
                <div flex-container="row" flex-gutter="24">
                    <div flex-item="6">
                        <lx-select ng-model="vm.employeeFilter.department" placeholder="Select Department" choices="vm.departments" floating-label>
                            <lx-select-selected>
                                {{ $selected.department}}
                            </lx-select-selected>

                            <lx-select-choices>
                                {{ $choice.department }}
                            </lx-select-choices>
                        </lx-select>
                    </div>
                    <div flex-item="6">
                        <lx-select ng-model="vm.employeeFilter.employee_type" placeholder="Select Employee Type" choices="vm.employee_types" floating-label>
                            <lx-select-selected>
                                {{ $selected.type}}
                            </lx-select-selected>

                            <lx-select-choices>
                                {{ $choice.type }}
                            </lx-select-choices>
                        </lx-select>
                    </div>
                </div>
                <div flex-container="row" flex-gutter="24">
                    <div flex-item="6">
                        <lx-select ng-model="vm.employeeFilter.position" placeholder="Select Position" choices="vm.positions" floating-label>
                            <lx-select-selected>
                                {{ $selected.position}}
                            </lx-select-selected>

                            <lx-select-choices>
                                {{ $choice.position }}
                            </lx-select-choices>
                        </lx-select>
                    </div>
                    <div flex-item="6">
                        <lx-date-picker model="vm.employeeFilter.date_hired" label="Date Hired" locale="en" allow-clear="true"></lx-date-picker>
                    </div>
                </div>
            </div>
            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('employee')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="resignations">
            <div class="p+">
                <strong class="fs-title display-block">Generate Employee Resignations</strong>
            </div>
            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('resignations')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="terminations">
            <div class="p+">
                <strong class="fs-title display-block">Generate Employee Terminations</strong>
            </div>

            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('terminations')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="leave">
            <div class="p+">
                <strong class="fs-title display-block">Generate Employee Leave</strong>
            </div>

            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('leave')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="opening">
            <div class="p+">
                <strong class="fs-title display-block">Generate Opening Report</strong>
            </div>

            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('opening')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="candidates">
            <div class="p+">
                <strong class="fs-title display-block">Generate Candidates Report</strong>
            </div>

            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('candidates')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="payroll">
            <div class="p+">
                <strong class="fs-title display-block">Generate Payroll Summary</strong>
                                <div flex-container="row" flex-gutter="24">
                    <div flex-item="6">
                        <lx-date-picker model="vm.payrollFilter.date_from" label="Payroll Period From" locale="en" allow-clear="true"></lx-date-picker>
                    </div>
                    <div flex-item="6">
                        <lx-date-picker model="vm.payrollFilter.date_to" label="Payroll Period To" locale="en" allow-clear="true"></lx-date-picker>
                    </div>
                </div>
            </div>

            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('payroll')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
        <div class="animate-card-center card" animate-expand="vm.display" data-expand-if="announcement">
            <div class="p+">
                <strong class="fs-title display-block">Generate Announcements Report</strong>
            </div>

            <div class="card__actions" style="text-align: right">
                <button ng-click="vm.generateReport('announcement')" class="btn btn--l btn--orange btn--flat" lx-ripple>Generate</button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>