<div ng-controller="OpeningController as vm">
    <ng-include src="'src/modules/components/hr/recruitment/dialogs/addOpeningDialog.html'"></ng-include>
    <table class="data-table" st-table="vm.openings" ng-if="vm.viewList">
                <thead>
                    <tr>
                        <th colspan='10' style="padding: 0px 20px;">
                            <header class="data-table-header tc-black" style="padding: 0px">
                            <div class="data-table-header__label">
                                <span class="fs-title">Openings List</span>
                            </div>

                            <lx-search-filter st-search position="right" closed></lx-search-filter>
                        </header>
                        </th>
                    </tr>
                    <tr class="data-table-row">
                        <th st-sort="id" class="data-table__sortable-cell">ID</th>
                        <th st-sort="title" class="data-table__sortable-cell">Title</th>
                        <th st-sort="status" class="data-table__sortable-cell">Status</th>
                        <th st-sort="opening_type" class="data-table__sortable-cell">Type</th>
                        <th st-sort="opening_type" class="data-table__sortable-cell">Posted Vacancy</th>
                        <th st-sort="opening_type" class="data-table__sortable-cell">Applcations</th>
                        <th st-sort="opening_type" class="data-table__sortable-cell">Available Slots</th>
                        <th st-sort="location" colspan="2" st-sort="client_id" class="data-table__sortable-cell">Location</th>
                        <th style="width: 50px">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="data-table__selectable-row" ng-repeat="row in vm.openings">
                        <td>{{row.id}}</td>
                        <td>{{row.title}}</td>
                        <td>
                            <span ng-if="row.status == 'published'" class="fs-body-1 display-block tc-blue-500">Published</span>
                            <span ng-if="row.status == 'unpublished'" class="fs-body-1 display-block tc-grey-500">Unpublished</span>
                        </td>
                        <td>
                            <span ng-if="row.opening_type == 'ft'" class="fs-body-1 display-block tc-deep-orange-500">Full Time</span>
                            <span ng-if="row.opening_type == 'pt'" class="fs-body-1 display-block tc-green-500">Part Time</span>
                        </td>
                        <td style="text-align: center">{{row.vacancies}}</td>
                        <td style="text-align: center">{{row.applicatons}}</td>
                        <td style="text-align: center">{{row.vacancies - row.applicatons}}</td>
                        <td colspan="2">{{row.location}}</td>
                        <td>
                            <lx-dropdown position="right" over-toggle="true">
                                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </button>

                                <lx-dropdown-menu>
                                    <ul>
                                        <li ng-if="row.status == 'unpublished' || row.status == null">
                                            <a class="dropdown-link" ng-click="vm.publishJobPost(row.id)">
                                                <i class="mdi mdi-check tc-green-500"></i> Publish
                                            </a>
                                        </li>
                                        <li ng-if="row.status == 'published'" class="">
                                            <a class="dropdown-link" ng-click="vm.unpublishJobPost(row.id)" >
                                                <i class="mdi mdi-close tc-green-500"></i> Unpublish</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-link" ng-click="vm.showEditOpening(row.id)">
                                                <i class="mdi mdi-file-document-box tc-blue-500"></i> Details
                                            </a>
                                        </li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </td>
                    </tr>
                </tbody>
    </table>
</div>        