<ng-include src="'src/modules/components/candidate/dashboard/dialogs/viewOpeningDialog.html'" ></ng-include>
<div class="main p++">
	<h3 class="main-section__title">Welcome Applicant!</h3>
	<p class="main-section__intro tc-grey-600">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sapiente perferendis officiis voluptas, delectus ratione laborum, doloribus dolore tempora aspernatur.
	</p>
		<div class="main-section__content">
			<div flex-container="row" flex-gutter="24" flex-wrap>
				<div flex-item="6" class="mt++">
					<div class="card">
						<div flex-container>
							<div flex-item>
								<div class="toolbar">
									<span class="toolbar__label fs-title ml">Top Openings</span>
								</div>
							</div>
						</div>
						<div class="divider divider--dark"></div>
						<ul class="list mt++">
							<li ng-repeat="opening in vm.topOpenings" class="list-row list-row--multi-line list-row--has-separator">
								<div class="list-row__primary">
									<i class="icon icon--l icon--grey icon--flat mdi mdi-wallet-travel"></i>
								</div>
								<div class="list-row__content">
									<span class="display-block">{{opening.title}} <small>({{opening.created_at | asDate | date:medium}})</small> </span>
									<span class="display-block fs-body-1 tc-black-2">{{opening.location}}</span>
									<span class="display-b	lock fs-body-1 tc-black-2">{{opening.job_description}}</span>
								</div>
								<div class="list-row__secondary">
									<button class="btn btn--m btn--blue btn--icon" lx-ripple><i class="mdi mdi-eye"></i></button>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div flex-item="6" class="mt++">
				<div class="card">
					<div flex-item>
						<div class="toolbar">
							<span class="toolbar__label fs-title ml">Latest Openings</span>
							<div class="toolbar__right">
								<lx-search-filter model="vm.searchText" position="right" closed></lx-search-filter>
							</div>
						</div>
					</div>
					<div class="divider divider--dark"></div>
					<ul class="list mt++">
						<li ng-repeat="opening in vm.latestOpenings | filter:vm.searchText" class="list-row list-row--multi-line list-row--has-separator">
							<div class="list-row__primary">
								<i class="icon icon--l icon--green icon--circled mdi mdi-plus"></i>
							</div>
							<div class="list-row__content">
								<span class="display-block">{{opening.title}} <small>({{opening.created_at | asDate | date:medium}})</small> </span>
								<span class="display-block fs-body-1 tc-black-2">{{opening.location}}</span>
								<span class="display-b	lock fs-body-1 tc-black-2">{{opening.job_description}}</span>
							</div>
							<div class="list-row__secondary">
									<button class="btn btn--m btn--blue btn--icon" lx-ripple ng-click="vm.viewOpening(opening.id)"><i class="mdi mdi-eye"></i></button>
							</div>
						</li>
					</ul>
				</div>
				</div>	
		</div>
	</div>
</div>