<ng-include src="'src/modules/components/admin/misc/dialogs/addCompanyDialog.html'"></ng-include>
<ng-include src="'src/modules/components/admin/misc/dialogs/positionDialog.html'"></ng-include>
<div class="main-section">
    <h3 class="main-section__title">Miscellaneous</h3>
    <div class="main-section__content">
    	<div class="card">
            <lx-tabs indicator="blue-200" active-tab="0" layout="inline">
                <lx-tab heading="Companies">
                    <p class="p+">
                    	<ng-include src="'src/modules/components/admin/misc/views/companies.html'"></ng-include>
                    </p>
                </lx-tab>

                <lx-tab heading="Positions">
                    <p class="p+">
                    	<ng-include src="'src/modules/components/admin/misc/views/positions.html'"></ng-include>
                    </p>
                </lx-tab>
            </lx-tabs>
        </div>
    </div>
</div>