<table class="data-table" st-table="vm.employees" ng-if="vm.showTable">
    <thead>
        <tr>
            <th colspan='6' style="padding: 0px 20px;">
                <header class="data-table-header tc-black" style="padding: 0px">
                <div class="data-table-header__label">
                    <span class="fs-title">Employee List</span>
                </div>

                <lx-search-filter st-search="" position="right" type="search" closed></lx-search-filter>
            </header>
            </th>
        </tr>
        <tr class="data-table-row">
            <th st-sort="employee_number" class="data-table__sortable-cell">Employee Number</th>
            <th st-sort="first_name" class="data-table__sortable-cell">Name</th>
            <th st-sort="position" class="data-table__sortable-cell">Position</th>
            <th st-sort="department" class="data-table__sortable-cell">Department</th>
            <th st-sort="status" st-sort="client_id" class="data-table__sortable-cell">Date Hired</th>
            <th style="width: 50px">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr class="data-table__selectable-row" ng-repeat="row in vm.employees">
            <td>{{row.employee_number}}</td>
            <td >{{row.first_name + ' ' + row.last_name}}</td>
            <td>{{(row.position == null ? 'No Position' : row.position)}}</td>
            <td>{{(row.department == null) ? 'No Department' : row.department}}</td>
            <td>{{row.hire_date | asDate | date:'mediumDate'}}</td>
            <td>
                <lx-dropdown position="right" over-toggle="true">
                    <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                        <i class="mdi mdi-dots-horizontal"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li>
                                <a class="dropdown-link" ng-click="vm.editEmployee(row.employee_number)">
                                    <i class="mdi mdi-eye tc-black-500"></i> View/Edit Information
                                </a>
                            </li>
                         <!--    <li>
                                <a href="http://api.apservices.com/report/resume/{{row.candidate_id}}" target="_blank" class="dropdown-link" >
                                    <i class="mdi mdi-file-pdf tc-black-500"></i> Resume</a>
                            </li> -->
                            <li class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-link" ng-click="vm.viewApplicationDetails(row.candidate_id, row.status)">
                                    <i class="mdi mdi-block-helper tc-black-500"></i> Deactivate
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-link" ng-click="vm.viewApplicationDetails(row.candidate_id, row.status)">
                                    <i class="mdi mdi-delete tc-black-500"></i> Delete
                                </a>
                            </li>
                            </li>
                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </td>
        </tr>
    </tbody>
</table>