<div ng-controller="LeaveController as vm">
    
<ng-include src="'src/modules/components/hr/employee/dialogs/viewLeaveRequestDialog.html'" ></ng-include>
    <table class="data-table" st-table="vm.employeeLeaves">
        <thead>
            <tr>
                <th colspan='7' style="padding: 0px 20px;">
                    <header class="data-table-header tc-black" style="padding: 0px">
                    <div class="data-table-header__label">
                        <span class="fs-title">Employee Leave Requests</span>
                    </div>

                    <lx-search-filter st-search="" position="right" type="search" closed></lx-search-filter>
                </header>
                </th>
            </tr>
            <tr class="data-table-row">
                <th st-sort="candidate_id" class="data-table__sortable-cell">Employee Number</th>
                <th st-sort="applicant_name" class="data-table__sortable-cell">Name</th>
                <th st-sort="leave_type" class="data-table__sortable-cell">Leave Type</th>
                <th st-sort="date_applied" class="data-table__sortable-cell">Range</th>
                <th st-sort="status" st-sort="client_id" class="data-table__sortable-cell">Reason</th>
                <th st-sort="status" st-sort="client_id" class="data-table__sortable-cell">Status</th>
                <th style="width: 50px">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table__selectable-row" ng-repeat="row in vm.employeeLeaves">
                <td>{{row.employee_number}}</td>
                <td >{{row.first_name + ' ' + row.last_name}}</td>
                <td>{{row.leave_type}}</td>
                <td>{{(row.date_start | asDate | date:'mediumDate') + ' - ' + (row.date_end | asDate | date:'mediumDate')}}</td>
                <td>{{row.reason}}</td>
                <td>
                    <i ng-if="row.leave_status == 'p'" class="icon icon--s tc-blue-400 icon--flat mdi mdi-bookmark"  lx-tooltip="Pending" tooltip-position="bottom"></i>
                    <i ng-if="row.leave_status == 'a'" class="icon icon--s tc-green-400 icon--flat mdi mdi-bookmark-check"  lx-tooltip="Approved" tooltip-position="bottom"></i>
                    <i ng-if="row.leave_status == 'd'" class="icon icon--s tc-red-400 icon--flat mdi mdi-bookmark-remove "  lx-tooltip="Disapproved" tooltip-position="bottom"></i>
                </td>
                <td>
                    <lx-dropdown position="right" over-toggle="true">
                        <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                            <i class="mdi mdi-dots-horizontal"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link" ng-click="vm.viewLeaveDetails(row.id)">
                                        <i class="mdi mdi-eye tc-green-500"></i> View Details
                                    </a>
                                </li>
                                <li ng-if="row.leave_status === 'p'">
                                    <a ng-click="vm.updateLeaveRequest('a', row.id)" target="_blank" class="dropdown-link" >
                                        <i class="mdi mdi-thumb-up tc-blue-500"></i> Approve</a>
                                </li>
                                <li ng-if="row.leave_status === 'p'">
                                    <a ng-click="vm.updateLeaveRequest('d', row.id)" target="_blank" class="dropdown-link" >
                                        <i class="mdi mdi-thumb-down tc-red-500"></i> Disapprove</a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</div>