<div ng-controller="TimesheetController as vm">
<table class="data-table" st-table="vm.timesheet" ng-if="vm.displayTable">
    <thead>
        <tr>
            <th colspan='8' style="padding: 0px 20px;">
                <header class="data-table-header tc-black" style="padding: 0px">
                <div class="data-table-header__label">
                    <span class="fs-title">Employee Timelogs</span>
                </div>

                <lx-search-filter st-search="" position="right" type="search" closed></lx-search-filter>
            </header>
            </th>
        </tr>
        <tr class="data-table-row">
            <th st-sort="employee_number" class="data-table__sortable-cell">Employee Number</th>
            <th st-sort="first_name" class="data-table__sortable-cell">Name</th>
            <th st-sort="position" class="data-table__sortable-cell">Date</th>
            <th st-sort="department" class="data-table__sortable-cell">Time In</th>
            <th st-sort="department" class="data-table__sortable-cell">Time Out</th>
            <th st-sort="department" class="data-table__sortable-cell">Hours Late</th>
            <th st-sort="department" class="data-table__sortable-cell">Hours Early Out</th>
            <th st-sort="department" class="data-table__sortable-cell">Total Hours</th>
        </tr>
    </thead>

    <tbody>
        <tr class="data-table__selectable-row" ng-repeat="row in vm.timesheet">
            <td>{{row.employee_number}}</td>
            <td >{{row.employees.profiles.first_name + ' ' + row.employees.profiles.last_name}}</td>
            <td>{{row.login_date}}</td>
            
            <td ng-if="row.log_in_time === null && row.log_out_time === null" colspan='2' style="text-align: center">
                <span class="tc-red-A400">Absent</span>
                <br>
                <span class="tc-blue-500" ng-if="row.net_time !== 0">(With Approved Leave Request)</span>
            </td>

            <td ng-if="row.log_in_time !== null">{{row.log_in_time}}</td>
            <td ng-if="row.log_in_time === null && row.log_out_time !== null" ><span class="tc-red-A400">No Log In</span></td>
            <td ng-if="row.log_out_time !== null">{{row.log_out_time}}</td>
            <td ng-if="row.log_out_time === null && row.log_in_time !== null" ><span class="tc-red-A400">No Log Out</span></td>
            <td><span>{{row.hours_late_in}}</span></td>
            <td><span>{{row.hours_early_out}}</span></td>
            <td><span>{{row.net_time}}</span></td>
        </tr>
    </tbody>
</table>
</div>