<div class="main-section">
    <h3 class="main-section__title">Database Backup and Restore</h3>
    <div class="main-section__content">
		<div flex-container="row" flex-gutter="24">
		    <div flex-item>
		        <div class="card">
		            <div class="p+">
		                <strong class="fs-headline display-block">Backup Database</strong>
		                <span class="fs-subhead tc-black-2 display-block">Last Backup Date {{vm.backupInfo[0].updated_at | asDate | date:'medium'}}</span>

		                <div class="paragraph fs-body-1 mt+">
		                    <p>
		                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
		                    </p>
		                </div>
		            </div>

		            <div class="card__actions content_right">
		                <button ng-click="vm.backup()" class="btn btn--m btn--blue btn--flat" lx-ripple>Backup Database</button>
		            </div>
		        </div>
		    </div>
		    <div flex-item>
		        <div class="card">
		            <div class="p+">
		                <strong class="fs-headline display-block">Restore Database</strong>
		                <span class="fs-subhead tc-black-2 display-block">Last Restore Date {{vm.backupInfo[1].updated_at | asDate | date:'medium'}}</span>

		                <div class="paragraph fs-body-1 mt+">
		                    <p>
		                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
		                    </p>
		                </div>
		            </div>

		            <div class="card__actions content_right">
		                <button ng-click="vm.restore()" class="btn btn--m btn--blue btn--flat" lx-ripple>Restore Database</button>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>