<div class="main-section">
    <h3 class="main-section__title">Your Ledger</h3>

    <p class="main-section__intro tc-grey-600">
            <table class="data-table" st-table="vm.payroll">
        <thead>
            <tr>
                <th colspan='7'>
                    <header class="data-table-header tc-black">
                    <div class="data-table-header__label"></div>
                </header>
                </th>
            </tr>
            <tr class="data-table-row">
                <th st-sort="id" class="data-table__sortable-cell">ID</th>
                <th colspan="2" st-sort="leave_type" class="data-table__sortable-cell">Payroll Period </th>
                <th st-sort="created_at" class="data-table__sortable-cell">Total Earning</th>
                <th st-sort="date_start" class="data-table__sortable-cell">Total Deduction</th>
                <th st-sort="date_end" class="data-table__sortable-cell">Net Salary</th>
                <th style="width: 50px">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in vm.payroll">
                <td>{{row.id}}</td>
                <td colspan="2">{{row.payroll_from | asDate | date:'medium'}} - {{row.payroll_to | asDate | date:'medium'}}</td>
                <td style="text-align: right">{{row.total_earning | number:2}}</td>
                <td style="text-align: right">{{row.total_deduction | number:2}}</td>
                <td style="text-align: right">{{(row.total_earning - row.total_deduction) | number:2}}</td>
                <td>
                    <lx-dropdown position="right" over-toggle="true">
                        <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                            <i class="mdi mdi-dots-horizontal"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link" target="_blank" href="http://api.apservices.com/report/payslip/{{row.employee_number}}">
                                    <i class="mdi mdi-delete"></i> View Payslip</a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    </p>
</div>