<lx-dialog class="dialog dialog--l" id="addUserDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">Add New User</span>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="First name">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.user.first_name">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Middle name">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.user.middle_name">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Last name">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.user.last_name">
                </lx-text-field>
            </div>
        </div>
        <div flex-container="column" flex-gutter="24" class="mt++">
            <div flex-item>
                <lx-select disabled="vm.loading" ng-model="vm.selected_user_type" placeholder="User type" choices="vm.userTypes" error="fezge" floating-label>
                    <lx-select-selected>
                        {{ $selected.type}}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.type }}
                    </lx-select-choices>
                </lx-select>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Username">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.user.username">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Password">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.user.password">
                </lx-text-field>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--l btn--blue btn--flat" ng-click="vm.addUser()" lx-ripple>Add</button>
    </div>
</lx-dialog>