<ng-include src="'src/modules/components/hr/candidate/dialogs/viewApplicationDetails.html'"></ng-include>
<div class="main-section">
    <h3 class="main-section__title">Manage Candidates</h3>
    <div class="main-section__content">
        <div class="paragraph">
        	<div flex-container="row" flex-gutter="24">
			    <div flex-item>
			        <div class="card">
                        <div flex-item>
                            <div flex-container="row">
                                <div class="card__img card__img--left pt+ pl+">
                                    <i class="icon icon--xl tc-grey-400 icon--blue icon--flat mdi mdi-account-check"></i>
                                </div>
                                <div flex-item flex-container="column">
                                    <div class="p+">
                                        <strong class="fs-headline display-block">{{vm.counts.screening}} Applicant<span ng-if="vm.counts.screening > 1">s</span></strong>
                                        <span class="fs-subhead tc-black-2 display-block">For Screening</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions content_right">
                                <button ng-click="view.status = 's'"class="btn btn--m btn--blue btn--flat" lx-ripple>View</button>
                                <button ng-if="view.status != undefined" ng-click="view.status = undefined"class="btn btn--m btn--grey btn--flat" lx-ripple>View All</button>
                            </div>
                        </div>
			        </div>
			    </div>
			    <div flex-item>
                    <div class="card">
                        <div flex-item>
                            <div flex-container="row">
                                <div class="card__img card__img--left pt+ pl+">
                                    <i class="icon icon--xl tc-grey-400 icon--flat mdi icon--flat mdi mdi-phone-forward"></i>
                                </div>
                                <div flex-item flex-container="column">
                                    <div class="p+">
                                        <strong class="fs-headline display-block">{{vm.counts.phone}} Applicant<span ng-if="vm.counts.phone > 1">s</span></strong>
                                        <span class="fs-subhead tc-black-2 display-block">For Phone Interview</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions content_right">
                                <button ng-click="view.status = 'p'"class="btn btn--m btn--blue btn--flat" lx-ripple>View</button>
                                <button ng-if="view.status != undefined" ng-click="view.status = undefined"class="btn btn--m btn--grey btn--flat" lx-ripple>View All</button>
                            </div>
                        </div>
                    </div>
			    </div>
			    <div flex-item>
                    <div class="card">
                        <div flex-item>
                            <div flex-container="row">
                                <div class="card__img card__img--left pt+ pl+">
                                    <i class="icon icon--xl tc-grey-400 icon--flat mdi icon--flat mdi mdi-account-switch"></i>
                                </div>
                                <div flex-item flex-container="column">
                                    <div class="p+">
                            <strong class="fs-headline display-block">{{vm.counts.face}} Applicant<span ng-if="vm.counts.face > 1">s</span></strong>
                            <span class="fs-subhead tc-black-2 display-block">For Face to Face Interview</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions content_right">
                                <button ng-click="view.status = 'f'"class="btn btn--m btn--blue btn--flat" lx-ripple>View</button>
                                <button ng-if="view.status != undefined" ng-click="view.status = undefined"class="btn btn--m btn--grey btn--flat" lx-ripple>View All</button>
                            </div>
                        </div>
                    </div>
			    </div>
			    <div flex-item>
                    <div class="card">
                        <div flex-item>
                            <div flex-container="row">
                                <div class="card__img card__img--left pt+ pl+">
                                    <i class="icon icon--xl tc-grey-400 icon--flat mdi icon--flat mdi mdi-wallet-travel"></i>
                                </div>
                                <div flex-item flex-container="column">
                                    <div class="p+">
                                        <strong class="fs-headline display-block">{{vm.counts.job}} Applicant<span ng-if="vm.counts.job > 1">s</span></strong>
                                        <span class="fs-subhead tc-black-2 display-block">For Job Offer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card__actions content_right">
                                <button ng-click="view.status = 'j'"class="btn btn--m btn--blue btn--flat" lx-ripple>View</button>
                                <button ng-if="view.status != undefined" ng-click="view.status = undefined"class="btn btn--m btn--grey btn--flat" lx-ripple>View All</button>
                            </div>
                        </div>
                    </div>
			    </div>
			</div>
    </div>
            <div class="data-table-container">
            <table class="data-table" st-table="vm.candidates">
                <thead>
                	<tr>
                		<th colspan='7'>
                			<header class="data-table-header tc-black">
        			        <div class="data-table-header__label">
        			            <span class="fs-title">Candidates List</span>
        			        </div>

        			        <lx-search-filter position="right" st-search closed></lx-search-filter>
        			        <div class="data-table-header__actions">
        			            <a href="http://api.apservices.com/report/resume/0" target="_blank" href="#/hr/opening/add" class="btn btn--l btn--red btn--fab" lx-tooltip="View Report" tooltip-position="bottom" lx-ripple>
        			                <i class="mdi mdi-file-pdf"></i>
        			            </a>
        			        </div>
        			    </header>
                		</th>
                	</tr>
                    <tr class="data-table-row">
                        <th st-sort="candidate_id" class="data-table__sortable-cell">ID</th>
                        <th colspan="2"  st-sort="applicant_name" class="data-table__sortable-cell">Candiate Name</th>
                        <th st-sort="title" class="data-table__sortable-cell">Opening Applied</th>
                        <th st-sort="date_applied" class="data-table__sortable-cell">Date Applied</th>
                        <th st-sort="status" st-sort="client_id" class="data-table__sortable-cell">Status</th>
                        <th style="width: 50px">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="data-table__selectable-row" ng-repeat="row in vm.candidates | filter:view:strict">
                        <td>{{row.candidate_id}}</td>
                        <td colspan="2" >{{row.applicant_name}}</td>
                        <td>{{row.title}}</td>
                        <td>{{row.date_applied | asDate | date:'medium'}}</td>
                        <td>
                            <i ng-if="row.status == 's'" class="icon icon--s tc-grey-400 icon--flat mdi mdi-account-check"  lx-tooltip="For Screening" tooltip-position="bottom"></i>
                            <i ng-if="row.status == 'p'" class="icon icon--s tc-grey-400 icon--flat mdi mdi-phone-forward"  lx-tooltip="Phone Interview" tooltip-position="bottom"></i>
                            <i ng-if="row.status == 'f'" class="icon icon--s tc-grey-400 icon--flat mdi mdi-account-switch"  lx-tooltip="Face to Face Interview" tooltip-position="bottom"></i>
                            <i ng-if="row.status == 'j'" class="icon icon--s tc-grey-400 icon--flat mdi mdi-wallet-travel "  lx-tooltip="Job Offer" tooltip-position="bottom"></i>
                        </td>
                        <td>
                        	<lx-dropdown position="right" over-toggle="true">
                        		<button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                            		<i class="mdi mdi-dots-horizontal"></i>
                        		</button>

                        		<lx-dropdown-menu>
        		                    <ul>
                                        <li>
                                            <a class="dropdown-link" ng-click="vm.viewApplicationDetails(row.id, row.status)">
                                                <i class="mdi mdi-eye tc-green-500"></i> View Details
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://api.apservices.com/report/resume/{{row.candidate_id}}" target="_blank" class="dropdown-link" >
                                                <i class="mdi mdi-file-pdf tc-red-500"></i> Resume</a>
                                        </li>
        		                    </ul>
                        		</lx-dropdown-menu>
                    		</lx-dropdown>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>