<DOCTYPE html>
<html lang="en-us">
    <head>
        <title>A&P Services</title>


        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="bower_components/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"></link>
        <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
        <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"> -->

        <!-- build:css styles/all.min.css -->
        <link rel="stylesheet" href="assets/css/common.css">
        <link rel="stylesheet" href="assets/css/index.css">
        <link rel="stylesheet" href="assets/css/login.css">
        <link rel="stylesheet" href="assets/css/animation.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        
        <!-- endbuild -->
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">        

    </head>
    <body ng-controller="applicationController">
        <ng-include ng-if="isLoggedIn && user_type === 'applicant'" src="'src/modules/shared/views/candidate-toolbar.html'" ></ng-include>
        <ng-include ng-if="isLoggedIn && user_type !== 'applicant'"src="'src/modules/shared/views/header.html'"></ng-include>
        
        <div ng-class="{'main' : isLoggedIn && user_type !== 'applicant'}">
            <ng-include ng-if="isLoggedIn && user_type === 'admin'" src="'src/modules/shared/views/sidebars/admin-sidebar.html'"></ng-include>
            <ng-include ng-if="isLoggedIn && user_type === 'hr'" src="'src/modules/shared/views/sidebars/hr-sidebar.html'"></ng-include>
            <ng-include ng-if="isLoggedIn && user_type === 'employee'" src="'src/modules/shared/views/sidebars/employee-sidebar.html'"></ng-include>
            <div ng-view class="animate-page" ng-class="{'page' : isLoggedIn}"></div>
        </div>
        
        <ng-include src="'src/modules/shared/views/logout.html'"></ng-include>
            
        <script src="assets/libs/socket.io.js"></script>

        <script src="bower_components/jquery/dist/jquery.js"></script>
    
        <!-- build:js bower_components/angular.min.js -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
        <!-- endbuild -->

        <script src="bower_components/satellizer/satellizer.min.js"></script>
        <script src="bower_components/ocLazyLoad/dist/ocLazyLoad.min.js"></script>
        <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
        <script src="bower_components/velocity/velocity.min.js"></script>
        <script src="bower_components/moment/min/moment-with-locales.min.js"></script>
        <script src="bower_components/lumx/dist/lumx.min.js"></script>
        
        <!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script> -->
        <script src="bower_components/angular-google-places-autocomplete/dist/autocomplete.min.js"></script> 
    
        <!-- build:js src/app.modules.min.js -->
        <script src="src/app.js"></script>
        <script src="src/modules/components/admin/adminModule.js"></script>
        <script src="src/modules/components/hr/hrModule.js"></script>
        <script src="src/modules/components/employee/employeeModule.js"></script>
        <script src="src/modules/components/candidate/candidateModule.js"></script>
        
        <script src="src/modules/components/candidate/register/registerController.js"></script>
        <script src="src/modules/components/candidate/register/registerService.js"></script>
        <script src="src/modules/components/login/loginModule.js"></script>
        <script src="src/modules/components/login/login/loginController.js"></script>
        <script src="src/modules/components/login/login/loginService.js"></script>
        <!-- endbuild -->
            
        <!-- build:js src/shared/shared.min.js -->
        <script src="src/modules/shared/sharedModule.js"></script>
        <script src="src/modules/shared/sharedDirectives.js"></script>
        <script src="src/modules/shared/sharedFilters.js"></script>
        <script src="src/modules/shared/sharedServices.js"></script>
        <script src="src/modules/shared/filterService.js"></script>
        <script src="src/modules/shared/socketService.js"></script>
        <!-- endbuild -->
<!--         <script>
        var socket = io('http://localhost:3000');
        socket.on("create-announcement-channel:App\\Events\\CreateAnnnouncementEvent", function(message){

            console.log(1);

         });
        </script> -->

    </body>

</html>
