    <table class="data-table" st-table="vm.companies">
        <thead>
        	<tr>
        		<th colspan='7'>
        			<header class="data-table-header tc-black">
			        <div class="data-table-header__label">
			            <span class="fs-title">Company List</span>
			        </div>

			        <lx-search-filter st-search position="right" closed></lx-search-filter>
			        <div class="data-table-header__actions">
			            <button class="btn btn--l btn--blue btn--fab" ng-click="vm.openDialog('addCompanyDialog')"  lx-tooltip="Add User" tooltip-position="bottom" lx-ripple>
			                <i class="mdi mdi-account-plus"></i>
			            </button>
			        </div>
			    </header>
        		</th>
        	</tr>
            <tr class="data-table-row">
                <th st-sort="id" class="data-table__sortable-cell">Company ID</th>
                <th st-sort="company_code" class="data-table__sortable-cell">Code</th>
                <th st-sort="name" class="data-table__sortable-cell">Name</th>
                <th colspan="2" st-sort="address" class="data-table__sortable-cell">Address</th>
                <th st-sort="contact_person" class="data-table__sortable-cell">Contact Person</th>
                <th style="width: 50px">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in vm.companies">
                <td>{{row.id}}</td>
                <td>{{row.company_code}}</td>
                <td>{{row.name}}</td>
                <td colspan="2">{{row.location}}</td>
                <td>{{row.contact_person}}</td>
                <td>
                	<lx-dropdown position="right" over-toggle="true">
                		<button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    		<i class="mdi mdi-dots-horizontal"></i>
                		</button>

                		<lx-dropdown-menu>
		                    <ul>
		                        <li>
                                    <a class="dropdown-link" 
                                    ng-click="vm.showEditDialog('addCompanyDialog', row.id)">
                                    <i class="mdi mdi-pencil"></i> Edit</a>
                                </li>
		                        <li>
                                    <a class="dropdown-link" ng-click="vm.deleteCompany(row.id)" >
                                    <i class="mdi mdi-delete"></i> Delete</a>
                                </li>
		                    </ul>
                		</lx-dropdown-menu>
            		</lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>