    <table class="data-table" st-table="vm.positions">
        <thead>
        	<tr>
        		<th colspan='6'>
        			<header class="data-table-header tc-black">
			        <div class="data-table-header__label">
			            <span class="fs-title">Position List</span>
			        </div>

			        <lx-search-filter st-search position="right" closed></lx-search-filter>
			        <div class="data-table-header__actions">
			            <button class="btn btn--l btn--blue btn--fab" ng-click="vm.openDialog('addPositionDialog')"  lx-tooltip="Add User" tooltip-position="bottom" lx-ripple>
			                <i class="mdi mdi-account-plus"></i>
			            </button>
			        </div>
			    </header>
        		</th>
        	</tr>
            <tr class="data-table-row">
                <th st-sort="id" class="data-table__sortable-cell">Position ID</th>
                <th colspan="2" st-sort="position" class="data-table__sortable-cell">Position</th>
                <th colspan="2" st-sort="description" class="data-table__sortable-cell">Description</th>
                <th style="width: 50px">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in vm.positions">
                <td>{{row.id}}</td>
                <td colspan="2">{{row.position}}</td>
                <td colspan="2">{{row.description}}</td>
                <td>
                	<lx-dropdown position="right" over-toggle="true">
                		<button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    		<i class="mdi mdi-dots-horizontal"></i>
                		</button>

                		<lx-dropdown-menu>
		                    <ul>
		                        <li><a class="dropdown-link" ng-click="vm.showEditPosition('addPositionDialog', row.id)"><i class="mdi mdi-pencil"></i> Edit</a></li>
		                        <li><a class="dropdown-link" ng-click="vm.deletePosition(row.id)" ><i class="mdi mdi-account-minus"></i> Delete</a></li>
		                    </ul>
                		</lx-dropdown-menu>
            		</lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>