<ng-include src="'src/modules/components/hr/employee/dialogs/employeeDialog.html'"></ng-include>
<div class="main-section p++">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-clipboard-account"></i>
            </div>
            <span class="toolbar__label fs-title">Recruitment</span>

            <div class="toolbar__right">
                <lx-dropdown position="right" from-top>
                    <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li><a ng-click="vm.toggleList('opening')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-worker tc-black-500"></i>Openings
                                </a></li>
                            <li><a ng-click="vm.toggleList('candidate')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-file tc-black-500"></i>Candidates
                                </a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-divider"></li>
                            <li><a ng-click="vm.showAddOpening()" class="dropdown-link">
                                    <i class="mdi mdi-calendar tc-black-500"></i>Create </a></li>

                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </div>
        </div>
    </div>
    <!-- <div class="card mt+"> -->
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="opening" >
            <ng-include src="'src/modules/components/hr/recruitment/lists/openingList.html'"></ng-include>
        </div>
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="candidate" >
            <ng-include src="'src/modules/components/hr/recruitment/lists/candidateList.html'"></ng-include>
        </div>
    <!-- </div> -->
</div>