<ng-include src="'src/modules/components/hr/employee/dialogs/employeeDialog.html'"></ng-include>
<div class="main-section p++">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-worker"></i>
            </div>
            <span class="toolbar__label fs-title">Payroll</span>

            <div class="toolbar__right">
                <lx-dropdown position="right" from-top>
                    <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li><a ng-click="vm.toggleList('summary')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-worker tc-black-500"></i>Payroll Summary
                                </a></li>
                     <!--        <li><a ng-click="vm.toggleList('rates')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-file tc-black-500"></i>Employee Rates
                                </a></li> -->
                            <!-- <li class="app-dropdown-divider"></li> -->
                            <li class="app-dropdown-divider"></li>
                            <li><a ng-click="vm.toggleList('compute')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-calendar tc-black-500"></i>Compute Payroll</a></li>
                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </div>
        </div>
    </div>
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="summary" ng-class="" >
            <ng-include src="'src/modules/components/hr/payroll/lists/summaryList.html'"></ng-include>
        </div>
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="rates" >
            <ng-include src="'src/modules/components/hr/payroll/lists/ratesList.html'"></ng-include>
        </div>
        <div class="animate-card" animate-expand="vm.display" data-expand-if="compute" >
            <ng-include src="'src/modules/components/hr/payroll/forms/computeForm.html'"></ng-include>
        </div>
</div>