<lx-dialog class="dialog dialog--l" id="createLeaveRequestDialog" auto-close="false" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">Create Leave Request</span>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div flex-item>
                <lx-select disabled="vm.loading" ng-model="vm.selected_leave_type" placeholder="Leave Type" choices="vm.filters.leave_types" error="fezge" floating-label>
                    <lx-select-selected>
                        {{ $selected.leave_type}}
                    </lx-select-selected>

                    <lx-select-choices>
                        {{ $choice.leave_type }}
                    </lx-select-choices>
                </lx-select>
            </div>
            <div flex-item>
                <lx-date-picker model="vm.leave.date_start" label="Start Date" locale="en" allow-clear="true">
                </lx-date-picker>
            </div>
            <div flex-item>
                <lx-date-picker model="vm.leave.date_end" label="End Date" locale="en" allow-clear="true">
                </lx-date-picker>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Reason">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.leave.reason">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Remarks">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.leave.employee_remarks">
                </lx-text-field>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.saveLeave()" lx-ripple>Add</button>
    </div>
</lx-dialog>