<lx-dialog class="dialog dialog--l" id="addPositionDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span ng-if="vm.view =='add'" class="toolbar__label tc-white fs-title">Add New Position</span>
            <span ng-if="vm.view =='edit'" class="toolbar__label tc-white fs-title">Edit Position</span>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <div flex-container="column" flex-gutter="24">
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Position">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.position.position">
                </lx-text-field>
            </div>
            <div flex-item>
                <lx-text-field disabled="vm.loading" label="Description">
                    <input type="text" ng-disabled="vm.loading" ng-model="vm.position.description">
                </lx-text-field>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button ng-if="vm.view =='add'" ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.addPosition()" lx-ripple>Add</button>
        <button ng-if="vm.view =='edit'" ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.editPosition()" lx-ripple>Save</button>
    </div>
</lx-dialog>