<div class="main-section p++">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-worker"></i>
            </div>
            <span class="toolbar__label fs-title">Manage Leave Requests</span>

            <div class="toolbar__right">
                <lx-dropdown position="right" from-top>
                    <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li><a ng-click="vm.toggleList('list')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-worker tc-black-500"></i>My Leaves
                                </a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-link" 
                                ng-click="vm.toggleList('create')">
                                <i class="mdi mdi-account-plus tc-black-500">
                                </i>Create Leave</a></li>
                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </div>
        </div>
    </div>
        <div class="animate-card card" 
            animate-expand="vm.display" 
            data-expand-if="list" 
            ng-class="" >
            <ng-include src="'src/modules/components/employee/leave/lists/leaveList.html'"></ng-include>
        </div>
        
        <div class="animate-card card" 
            animate-expand="vm.display" 
            data-expand-if="create" >
            <ng-include src="'src/modules/components/employee/leave/forms/createLeave.html'"></ng-include>
        </div>
</div>