<ng-include src="'src/modules/shared/views/header.html'"></ng-include>
<ng-include src="'src/modules/components/admin/user/dialogs/addUserDialog.html'"></ng-include>
<div class="main">
<ng-include src="'src/modules/shared/views/sidebars/admin-sidebar.html'"></ng-include>

<div class="main-section">
    <h3 class="main-section__title">Audit Trail</h3>
	<div class="main-section__content">
    <div class="data-table-container">
    <table class="data-table" st-table="vm.logs">
        <thead>
        	<tr>
        		<th colspan='7'>
        			<header class="data-table-header tc-black">
			        <div class="data-table-header__label">
			            <span class="fs-title">User Logs</span>
			        </div>

			        <lx-search-filter st-search position="right" closed></lx-search-filter>
			        <div class="data-table-header__actions">
			            <a href="http://api.apservices.com/report/audit" class="btn btn--l btn--red btn--fab" lx-tooltip="Print Report" tooltip-po	sition="bottom" lx-ripple>
			                <i class="mdi mdi-file-pdf-box"></i>
			            </a>
			        </div>
			    </header>
        		</th>
        	</tr>
            <tr class="data-table-row">
                <th st-sort="id" class="data-table__sortable-cell">ID</th>
                <th st-sort="first_name" class="data-table__sortable-cell">User ID</th>
                <th colspan="2" st-sort="first_name" class="data-table__sortable-cell">User</th>
                <th colspan="2" st-sort="client_id" class="data-table__sortable-cell">Action Taken</th>
                <th style="width: 50px">Date</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in vm.logs">
                <td>{{row.id}}</td>
                <td>{{row.user_id}}</td>
                <td colspan="2">{{row.last_name + ', ' + row.middle_name + ' ' + row.first_name}}</td>
                <td colspan="2">{{row.action_taken}}</td>
                <td>{{row.created_at}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
</div>
