<div class="main-section">
    <ng-include src="'src/modules/components/hr/announcement/dialogs/addAnnouncementDialog.html'"></ng-include>
    <h3 class="main-section__title">Manage Annoucements</h3>
    <div class="main-section__content">
        <div class="data-table-container">
            <table class="data-table" st-table="vm.announcements" ng-if="vm.displayTable">
                <thead>
                    <tr>
                        <th colspan='6'>
                            <header class="data-table-header tc-black">
                            <div class="data-table-header__label">
                                <span class="fs-title">Announcement List</span>
                            </div>

                            <lx-search-filter st-search="" position="right" type="search" closed></lx-search-filter>
                            <div class="data-table-header__actions">
                                <button class="btn btn--l btn--blue btn--fab" ng-click="vm.addAnnouncement()"  lx-tooltip="Add User" tooltip-position="bottom" lx-ripple>
                                    <i class="mdi mdi-plus"></i>
                                </button>
                            </div>
                        </header>
                        </th>
                    </tr>
                    <tr class="data-table-row">
                        <th st-sort="id" class="data-table__sortable-cell">ID</th>
                        <th st-sort="title" class="data-table__sortable-cell">Title</th>
                        <th st-sort="first_name" class="data-table__sortable-cell">Posted By</th>
                        <th st-sort="created_at" class="data-table__sortable-cell">Date Posted</th>
                        <th st-sort="status" class="data-table__sortable-cell">Status</th>
                        <th style="width: 50px">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="data-table__selectable-row" ng-repeat="row in vm.announcements">
                        <td>{{row.id}}</td>
                        <td>{{row.title}}</td>
                        <td >{{row.first_name + ' ' + row.last_name}}</td>
                        <td>{{row.created_at | asDate | date:'mediumDate'}}</td>
                        <td>

                            <span ng-if="row.status == 'p'" class="fs-body-1 display-block tc-blue-500">Published</span>
                            <span ng-if="row.status == 'u'" class="fs-body-1 display-block tc-grey-500">Unpublished</span>
                        </td>
                        <td>
                            <lx-dropdown position="right" over-toggle="true">
                                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </button>

                                <lx-dropdown-menu>
                                    <ul>
                                        <li>
                                            <a class="dropdown-link" ng-click="vm.viewDetails(row.id)">
                                                <i class="mdi mdi-eye tc-green-500"></i> View Details
                                            </a>
                                        </li>
                                        <li ng-if="row.status == 'u'">
                                            <a ng-click="vm.publishAnnouncement(row.id)" target="_blank" class="dropdown-link" >
                                                <i class="mdi mdi-file-pdf tc-red-500"></i> Publish</a>
                                        </li>
                                        <li ng-if="row.status == 'p'">
                                            <a ng-click="vm.unpublishAnnouncement(row.id)" target="_blank" class="dropdown-link" >
                                                <i class="mdi mdi-file-pdf tc-red-500"></i> Unpublish</a>
                                        </li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>