<div class="">
    <div flex-container flex-align="space-between center" class="mb+">
        <div flex-item>
            <div class="card p+">
                <strong class="fs-title display-block">Payroll Period</strong>
                <div flex-container="row" flex-gutter="24">
                    <div flex-item='4'>
                        <lx-date-picker ng-change="vm.testchange()" ng-model="vm.payroll.from" model="vm.payroll.from" label="Date From" locale="en" allow-clear="true"></lx-date-picker>
                    </div>
                    <div flex-item='4'>
                        <lx-date-picker model="vm.payroll.to" label="Date To" locale="en" allow-clear="true"></lx-date-picker>
                    </div>
                    <div flex-item='4' ng-if="vm.payroll.from !== undefined && vm.payroll.to !== undefined">
                        <span class="fs-subhead display-block mt+"><small>No of days</small></span>
                        <span class="fs-title display-block">{{vm.payroll.to | dateDiff:vm.payroll.from}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex-container flex-align="space-between center" class="mb+" ng-if="(vm.payroll.to | dateDiff:vm.payroll.from) > 0">
        <div flex-item>
            <div class="card p+">
                <strong class="fs-title display-block">Employee Details</strong>
                <div flex-container="row" flex-gutter="24">
                    <div flex-item='4'>
                        <lx-text-field class="mt-0" label="Employee Number">
                            <input type="text" ng-change="vm.getEmployee()" ng-model="vm.payroll.employee_number">
                        </lx-text-field>
                    </div>
                    <div flex-item='8'>
                        <lx-text-field class="mt-0" label="Employee Name" readonly="true">
                            <input type="text" ng-model="vm.payroll.employee_name" readonly="true">
                        </lx-text-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item ng-if="vm.loading && !vm.displayComputation">
            <lx-progress type="circular" color="#5fa2db"></lx-progress>
        </div>
        <div flex-item="7" ng-if="vm.displayComputation">
            <ng-include src="'src/modules/components/hr/payroll/views/earnings.html'"></ng-include>
        </div>
        <div flex-item="5" ng-if="vm.displayComputation">
            <ng-include src="'src/modules/components/hr/payroll/views/deductions.html'"></ng-include>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24" ng-if="vm.displayComputation" >
        <div flex-item>
            <div class="card p+" style="text-align: right;">
                <button ng-click="vm.savePayroll()" class="btn btn--l btn--blue btn--raised" lx-ripple>Save Payroll Computation</button>
            </div>
        </div>
    </div>
</div>