<ng-include src="'src/modules/components/candidate/resume/dialogs/addResumeDialog.html'" ></ng-include>
<div class="main p++">
	<div class="toolbar">
	   <span class="toolbar__label fs-title ml">Latest Openings  </span>
	       <div class="toolbar__right">
		      <lx-search-filter model="vm.searchText" position="right" closed></lx-search-filter>
		      <button ng-click="vm.showAddResumeDialog()" class="btn btn--m btn--blue btn--fab" lx-ripple lx-tooltip="Add resume" tooltip-position="bottom">
			     <i class="mdi mdi-plus"></i>
		      </button>
	       </div>
        </div>
    <div class="data-table-container">
    <table class="data-table" st-table="vm.users">
        <thead>
            <tr class="data-table-row">
                <th st-sort="id" class="data-table__sortable-cell">ID</th>
                <th st-sort="first_name" class="data-table__sortable-cell">Resume Title</th>
                <th st-sort="client_id" class="data-table__sortable-cell">Date Uploaded</th>
                <th style="width: 100px">Default</th>
                <th style="width: 100px">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in vm.resumes">
                <td>{{row.id}}</td>
                <td>{{row.title}}</td>
                <td>{{row.created_at | asDate | date:'medium'}}</td>
                <td>
                	<span ng-if="row.is_default == 'y'" class="fs-body-1 display-block tc-blue-500">Default</span>
                	<span ng-if="row.is_default == 'n'" class="fs-body-1 display-block tc-green-500">Archived</span>
                </td>
                <td>
                	<lx-dropdown position="right" over-toggle="true">
                		<button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    		<i class="mdi mdi-dots-horizontal"></i>
                		</button>

                		<lx-dropdown-menu>
		                    <ul>
                                <li><a class="dropdown-link" ng-click="vm.deleteUser(row.id)" ><i class="mdi mdi-eye"></i> View</a></li>
		                        <li ng-if="row.is_default == 'n'"><a class="dropdown-link" ng-click="vm.setDefault(row.id)" ><i class="mdi mdi-bookmark"></i> Set Default</a></li>
                                <li><a class="dropdown-link" ng-click="vm.showEditDialog(row.id)"><i class="mdi mdi-pencil"></i> Edit</a></li>
                                <li><a class="dropdown-link" ng-click="vm.deleteUser(row.id)" ><i class="mdi mdi-delete"></i> Delete</a></li>
		                    </ul>
                		</lx-dropdown-menu>
            		</lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>