<lx-dialog class="dialog dialog--l" id="viewApplicationDetails" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">Application Details</span>            <div class="toolbar__right">
                <a href="http://api.apservices.com/report/resume/{{vm.candidate[0].candidate_id}}" target="_blank" class="btn btn--l btn--white btn--icon" 
                    class="btn btn--m btn--blue btn--icon" 
                    lx-ripple lx-tooltip="Download resume" tooltip-position="bottom">
                    <i class="mdi mdi-download"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="dialog__content p++">   
            <div flex-container="column" flex-gutter="24" ng-repeat="applicant in vm.candidate">
                <div flex-item class="mb++">
                    <span class="fs-subhead display-block">Applicant Name</span>
                    <span class="fs-title display-block">{{applicant.first_name + ' ' + applicant.last_name}}</span>
                </div>
                <div flex-item class="mb++">
                    <span class="fs-subhead display-block">Position Applied</span>
                    <span class="fs-title display-block">{{applicant.title}}</span>
                </div>
                <div flex-item class="mb++">
                    <span class="fs-subhead display-block">Date Applied</span>
                    <span class="fs-title display-block">{{applicant.created_at | asDate | date:'medium'}}</span>
                </div>                

                <div flex-item class="mb++ mt++">
                    <span class="fs-subhead display-block">Company</span>
                    <span class="fs-title display-block">{{applicant.company}}</span>
                </div>
                <div flex-item class="mb++">
                    <span class="fs-subhead display-block">Location</span>
                    <span class="fs-title display-block">{{applicant.location}}</span>
                </div>
                <div flex-item class="mb++">
                    <span class="fs-subhead display-block">Job Description</span>
                    <span class="fs-title display-block">{{applicant.job_description}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Close</button>
        <button class="btn btn--l btn--blue btn--flat" ng-click="vm.moveToStep()" lx-ripple>Move to next Step</button>
    </div>
</lx-dialog>