<ng-include src="'src/modules/components/candidate/resume/dialogs/addResumeDialog.html'" ></ng-include>
<div class="main p++">
    <div class="toolbar">
        <span class="toolbar__label fs-title ml">My Application List</span>
    </div>
    <div class="data-table-container">
    <table class="data-table" st-table="vm.users">
        <thead>
            <tr class="data-table-row">
                <th st-sort="first_name" class="data-table__sortable-cell">Title</th>
                <th colspan='2'  st-sort="client_id" class="data-table__sortable-cell">Location</th>
                <th st-sort="client_id" class="data-table__sortable-cell">Company</th>
                <th st-sort="client_id" class="data-table__sortable-cell">Status</th>
                <th st-sort="client_id" class="data-table__sortable-cell">Date Applied</th>
                <th style="width: 100px">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in vm.applications">
                <td>{{row.title}}</td>
                <td colspan='2' >{{row.location}}</td>
                <td>{{row.company}}</td>
                <td>
                    <span ng-if="row.application_status == 'n'" class="fs-body-1 display-block tc-blue-500">Pending</span>
                    <span ng-if="row.application_status == 'c'" class="fs-body-1 display-block tc-green-500">Screened</span>
                    <span ng-if="row.application_status == 's'" class="fs-body-1 display-block tc-green-500">Started</span>
                </td>
                <td>{{row.created_at | asDate | date:'medium'}}</td>
                <td>
                	<lx-dropdown position="right" over-toggle="true">
                		<button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    		<i class="mdi mdi-dots-horizontal"></i>
                		</button>

                		<lx-dropdown-menu>
		                    <ul>
                                <li><a class="dropdown-link" ng-click="vm.deleteUser(row.id)" ><i class="mdi mdi-delete"></i> Cancel</a></li>
		                    </ul>
                		</lx-dropdown-menu>
            		</lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>