<div class="main-section p++">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-worker"></i>
            </div>
            <span class="toolbar__label fs-title">Employee Employee</span>
        </div>
    </div>
    <div class="mt+">
                <div class="card">
            <div flex-container="row" flex-gutter="24" >
            <div flex-item="4">
                    <div class="p+">
                        <strong class="fs-headline display-block">Profile</strong>
                        <span class="fs-subhead tc-black-2 display-block">Update your profile.</span>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Contact number">
                                        <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.contact_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-select ng-model="vm.selected_status" placeholder="Civil Status" choices="vm.filters.civil_status" error="fezge" floating-label>
                                        <lx-select-selected>
                                            {{ $selected.status}}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            {{ $choice.status }}
                                        </lx-select-choices>
                                    </lx-select>
                                </div>
                                <div flex-item>
                                    <lx-select ng-model="vm.selected_gender" placeholder="Gender" choices="vm.filters.gender" error="fezge" floating-label>
                                        <lx-select-selected>
                                            {{ $selected.gender}}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            {{ $choice.gender }}
                                        </lx-select-choices>
                                    </lx-select>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Address">
                                        <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.address">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-date-picker model="vm.employee.birth_date" label="Birthdate" locale="en" allow-clear="true"></lx-date-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div flex-item="4">
                    <div class="p+">
                        <strong class="fs-headline display-block">Account Numbers</strong>
                        <span class="fs-subhead tc-black-2 display-block">Account number and personal ID Numbers (Disabled to edit) </span>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Bank Account">
                                        <input type="text" ng-disabled="true" ng-model="vm.employee.account_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="PhilHealth">
                                        <input type="text" ng-disabled="true" ng-model="vm.employee.phil_health_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="SSS Number">
                                        <input type="text" ng-disabled="true" ng-model="vm.employee.sss_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="TIN Number">
                                        <input type="text" ng-disabled="true" ng-model="vm.employee.tin_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Pagibig Number">
                                        <input type="text" ng-disabled="true" ng-model="vm.employee.pagibig_number">
                                    </lx-text-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div flex-item="4">
                    <div class="p+">
                        <strong class="fs-headline display-block">Employment Information</strong>
                        <span class="fs-subhead tc-black-2 display-block">Your employment information. (Disabled to edit)</span>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Position">
                                        <input type="text" ng-model="vm.employee.position">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Department">
                                        <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.department">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Tax Exemption">
                                        <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.exemption">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Date Hired">
                                        <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.hire_date">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="End of Contract Date">
                                        <input type="text" ng-disabled="vm.loading" ng-model="vm.employee.endo_date">
                                    </lx-text-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="card__actions" style="text-align: right;">
                        <button ng-click="vm.updateProfile()" class="btn btn--m btn--blue btn--flat" lx-ripple>Save Changes</button>
                    </div>
        </div>
    </div>
</div>
