<div class="banner" style="padding: 150px">
    
</div>

<div class="github-activity">
    <div class="wrapper">
    </div>
</div>

<div class="bgc-white-1 mt++" flex-container="row" flex-align="center" flex-align-items='center' style="height: 200px">
    <div flex-item="5" class="p+">
        <div class="p++" style="margin-top: -350px">
            <div flex-item="5" class="tc-white">
                <span class="fs-display-1 display-block">Asia Wide 
                    <p><small class="tc-white">Human Resources and Consultancy Corp.</small></p>
                </span>
            </div>
        </div>
    <div class="card">
        <form ng-submit="vm.register()" name="formRegister" novalidate>
            <div class="p++">
                <div flex-item="5">
                    <span class="fs-headline display-block" style="font-weight: 300">Candidate Registration</span>
                </div>
                <div flex-container="column">
                    <div flex-item>
                        <lx-text-field label="First name">
                            <input required type="text" ng-model="vm.candidate.first_name">
                        </lx-text-field>
                    </div>
                </div>
                <div flex-container="column">
                    <div flex-item>
                        <lx-text-field label="Last name">
                            <input required type="text" ng-model="vm.candidate.last_name">
                        </lx-text-field>
                    </div>
                </div>
                <div class="pt">
                    <div flex-container="column">
                        <div flex-item>
                            <lx-text-field label="Email">
                                <input required type="email" name="email" ng-model="vm.candidate.email">
                            </lx-text-field>
                            <span ng-if="formRegister.email.$dirty">
                                <span class="text-field-error" ng-if="formRegister.email.$invalid">Email invalid</span>
                            </span>
                        </div>
                    </div>
                    <div flex-container="column">
                        <div flex-item>
                            <lx-text-field label="Password" >
                                <input required type="password" ng-model="vm.candidate.password">
                            </lx-text-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__actions p+ content_right">
                <!-- ng-disabled="formRegister.$invalid"  -->
                <button 
                type="submit" class="btn btn--l btn--blue btn--raised" lx-ripple>Register</button>
                <a href="#/" class="btn btn--l btn--blue btn--flat left" lx-ripple>Back to Site</a>
            </div>
        </form>
    </div>
    <div class="p++">
        <div flex-item="5" class="content_right">
            <span class="fs-subhead display-block">Already a member? <a class="link" href="#/login">Login here!</a></span>
        </div>
    </div>
</div>