<lx-dialog class="dialog dialog--l" id="addAnnouncementDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{(vm.view === 'add' ? "Create Announcement" : "View/Edit Announcement")}}
            </span>
            </div>
        </div>
    </div>
    
    <div class="dialog__content p++">   
            <div flex-container="column" flex-gutter="24">
                <div flex-item class="mb++">
                    <lx-text-field disabled="vm.loading" label="Title">
                        <input type="text" ng-disabled="vm.loading" ng-model="vm.announcement.title">
                    </lx-text-field>
                </div>
                <div flex-item class="mb++">
                    <lx-text-field label="Description">
                        <textarea ng-disabled="vm.loading" ng-model="vm.announcement.details"></textarea>
                    </lx-text-field>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Close</button>
        <button ng-if="vm.view == 'add'" ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.confirmAddAnnouncement()" lx-ripple>Add</button>
        <button ng-if="vm.view == 'edit'" ng-disabled="vm.loading" class="btn btn--l btn--blue btn--flat" ng-click="vm.confirmEditAnnouncement(vm.announcement.id)" lx-ripple>Update</button>
    </div>
</lx-dialog>