<div class="main-section">
    <h3 class="main-section__title">Employee Timesheets</h3>

    <p class="main-section__intro tc-grey-600">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sapiente perferendis officiis voluptas, delectus ratione laborum, doloribus dolore tempora aspernatur.
    </p>

    <div class="main-section__content">
        <div class="paragraph">
    </div>
</div>