<div flex-container="column" flex-gutter="24" ng-init="vm.opening = (view === 'add') ? [] : vm.opening">
    <div flex-item>
        <lx-text-field disabled="vm.loading" label="Title">
            <input type="text" ng-disabled="vm.loading" ng-model="vm.opening.title">
        </lx-text-field>
    </div>
    <div flex-item>
        <lx-text-field disabled="vm.loading" label="Vacancies">
            <input type="text" ng-disabled="vm.loading" ng-model="vm.opening.vacancy">
        </lx-text-field>
    </div>
    <div flex-item>
        <lx-select disabled="vm.loading" ng-model="vm.selected_opening_type" placeholder="Type" choices="vm.openingTypes" error="fezge" floating-label>
            <lx-select-selected>
                {{ $selected.type}}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.type }}
            </lx-select-choices>
        </lx-select>
    </div>
    <div flex-item>
        <lx-select 
            disabled="vm.loading"
            ng-model="vm.selected_company" 
            placeholder="Company"
            label="Company"
            floating-label
            choices="vm.filters.companies">
            <lx-select-selected>
                {{ $selected.name}}
            </lx-select-selected>

            <lx-select-choices>
                {{ $choice.name}}
            </lx-select-choices>
        </lx-select>
    </div>
</div>
<div flex-container="column" flex-gutter="24" class="mt++">
    <div flex-item>
        <lx-text-field label="Location">
            <input type="text" ng-model="vm.selected_company.location" readonly>
        </lx-text-field>
    </div>
    <div flex-item>
        <lx-text-field label="Job Description" disabled="vm.loading">
            <textarea ng-disabled="vm.loading" ng-model="vm.opening.description"></textarea>
        </lx-text-field>
    </div>
    <div flex-item>
        <lx-text-field label="Job Qualifications" disabled="vm.loading">
            <textarea ng-disabled="vm.loading" ng-model="vm.opening.qualifications"></textarea>
        </lx-text-field>
    </div>
</div>