<ng-include src="'src/modules/components/hr/employee/dialogs/employeeDialog.html'"></ng-include>
<ng-include src="'src/modules/components/hr/employee/dialogs/uploadAttendanceDialog.html'"></ng-include>
<div class="main-section p++">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-worker"></i>
            </div>
            <span class="toolbar__label fs-title">Manage Employees</span>

            <div class="toolbar__right">
                <lx-dropdown position="right" from-top>
                    <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li><a ng-click="vm.toggleList('employee')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-worker tc-black-500"></i>Employees
                                </a></li>
                            <!-- <li><a ng-click="vm.toggleList('resignations')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-file tc-black-500"></i>Resignations
                                </a></li>
                            <li><a ng-click="vm.toggleList('terminations')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-account-remove tc-black-500"></i>Terminations
                                </a></li> -->
                            <li class="dropdown-divider"></li>
                            <li><a ng-click="vm.toggleList('leaves')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-calendar tc-black-500"></i>Leaves</a></li>
                            <li><a ng-click="vm.toggleList('timesheets')" 
                                    class="dropdown-link">
                                    <i class="mdi mdi-timelapse tc-black-500"></i>Timesheets</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-link" ng-click="vm.openDialog('employeeDialog')"><i class="mdi mdi-account-plus tc-black-500"></i>Add Employee</a></li>
                            <li>
                                <a class="dropdown-link"
                                    ng-click="vm.openDialog('uploadAttendanceDialog')">
                                    <i class="mdi mdi-upload tc-black-500"></i>
                                    Upload Attendance</a>
                                </li>
                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </div>
        </div>
    </div>
    <!-- <div class="card mt+"> -->
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="employee" ng-class="" ><ng-include src="'src/modules/components/hr/employee/lists/employeeList.html'"></ng-include></div>
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="resignations" ><ng-include src="'src/modules/components/hr/employee/lists/resignationList.html'"></ng-include></div>
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="terminations" ><ng-include src="'src/modules/components/hr/employee/lists/terminationList.html'"></ng-include></div>
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="leaves" ><ng-include src="'src/modules/components/hr/employee/lists/leaveList.html'"></ng-include></div>
        <div class="animate-card card" animate-expand="vm.display" data-expand-if="timesheets" ><ng-include src="'src/modules/components/hr/employee/lists/timesheetList.html'"></ng-include></div>
        <div class="animate-card card" 
            animate-expand="vm.display" 
            data-expand-if="viewemployee" >
        <ng-include src="'src/modules/components/hr/employee/forms/editEmployeeForm.html'"></ng-include></div>
    <!-- </div> -->
</div>