<!-- Banner -->
<div class="banner">
    <div class="banner__logo">
        <span class="fs-display-3 display-block">A&P Services Inc.</span>
    </div>

    <h2 class="banner__subtitle">
        Human Resources and Manpower
    </h2>
    
    <a ng-href="#/openings" class="banner__dl-btn btn btn--xl btn--white btn--raised" lx-ripple>
        Seach Openings
    </a>

</div>

<!-- Github activity -->
<div class="github-activity">
    <div class="wrapper">
        <div class="github-activity__contribute">
            <a href="#/login" class="btn btn--m btn--white btn--raised" lx-ripple>Login</a>
            <!-- <a href="#/register" class="btn btn--m btn--white btn--flat" lx-ripple>Register</a> -->
        </div>
    </div>
</div>

<!-- Features -->
<div class="wrapper">
    <div class="features">
        <header class="features-header">
            <h3 class="features-header__title">
                Lorem ipsum dolor sit amet.
            </h3>

            <p class="features-header__subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto eveniet esse, explicabo odio commodi hic similique, debitis libero, vitae tempora veniam minima optio neque quo repellendus voluptates. Animi, repellendus ipsa repudiandae fuga ad, incidunt officia ab iure iusto doloribus!
            </p>
        </header>
<!-- 
        <div flex-container="row" flex-gutter="24">
            <div flex-item>
                <div class="feature">
                    <div class="feature__picture-box">
                        <img src="/images/feature/sass.png" alt="Sass">
                    </div>

                    <h4 class="feature-title">Sass Preprocessor</h4>

                    <p class="feature-description">
                        Built with Sass, Bourbon and Neat, you'll be able to quickly customize your application design. Moreover, your Sass and Javascript files will be automatically optimized with Gulp to improve your application performance.
                    </p>
                </div>
            </div>

            <div flex-item>
                <div class="feature">
                    <div class="feature__picture-box">
                        <img src="/images/feature/angular.png" alt="Angular JS">
                    </div>

                    <h4 class="feature-title">AngularJS</h4>

                    <p class="feature-description">
                        We've choosen AngularJS for LumX because we think it's the best Javascript MVC Framework to build robust and fast one-page applications. And of course, because it has been made and is still maintained by Google.
                    </p>
                </div>
            </div>

            <div flex-item>
                <div class="feature">
                    <div class="feature__picture-box">
                        <img src="/images/feature/javascript.png" alt="Javascript" />
                    </div>

                    <h4 class="feature-title">Just a little bit of jQuery</h4>

                    <p class="feature-description">
                        Performance is highly important for any web application. That's why we only use jQuery without any of its plugin. Each component was then home made to be perfectly plugged to your AngularJS application.
                    </p>
                </div>
            </div>
        </div> -->
    </div>
</div>

<footer class="footer">
    <span>Made with <i class="icon icon--s icon--red icon--flat mdi mdi-heart"></i> by Little Monsters</span>
</footer>
