<div class="card p++">
    <strong class="fs-title display-block">Deductions</strong>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="SSS">
                <input class="text-right" type="text" ng-model="vm.payroll.sss"  disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Phil-Health">
                <input class="text-right" type="text" ng-model="vm.payroll.philhealth"  disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item >
            <lx-text-field label="HDMF">
                <input class="text-right" type="text" ng-model="vm.payroll.hdmf"  disabled="true" >
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Withholding Tax">
                <input class="text-right" type="text" ng-model="vm.payroll.tax"  disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Total Deduction">
                <input class="text-right" type="text" ng-model="vm.payroll.totaldeduction"  disabled="true">
            </lx-text-field>
        </div>
    </div>
</div>