
<div class="card p++">
    <strong class="fs-title display-block">Earnings</strong>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Rate per hour">
                <input class="text-right" type="text" ng-model="vm.payroll.rate_per_hour" disabled="true">
            </lx-text-field>
        </div>
        <div flex-item>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Hours Rendered">
                <input class="text-right" type="text" ng-change="vm.computeOnChange()" ng-model="vm.payroll.hours">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Total Basic Pay">
                <input class="text-right" type="text" ng-model="vm.payroll.total_basic" disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Regular Overtime">
                <input class="text-right" type="text" ng-change="vm.computeOnChange()" ng-model="vm.payroll.overtime">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Overtime Pay">
                <input class="text-right" type="text" ng-model="vm.payroll.overtime_pay" disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
            <lx-text-field label="Night Diff">
                <input class="text-right" type="text" ng-change="vm.computeOnChange()" ng-model="vm.payroll.night_diff">
            </lx-text-field>
        </div>
        <div flex-item>
            <lx-text-field label="Night Diff Pay">
                <input class="text-right" type="text" ng-model="vm.payroll.night_diff_pay" disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
        </div>
        <div flex-item>
            <lx-text-field label="Special Holiday Pay">
                <input class="text-right" type="text" ng-model="vm.payroll.special_holiday_pay" disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
        </div>
        <div flex-item>
            <lx-text-field label="Legal Holiday Pay">
                <input class="text-right" type="text" ng-model="vm.payroll.legal_holiday_pay" disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
        </div>
        <div flex-item>
            <lx-text-field label="ECOLA">
                <input class="text-right" type="text" ng-model="vm.payroll.ecola" disabled="true">
            </lx-text-field>
        </div>
    </div>
    <div flex-container="row" flex-gutter="24">
        <div flex-item>
        </div>
        <div flex-item>
            <lx-text-field label="Total Earning">
                <input class="text-right" type="text" ng-model="vm.payroll.total_earning" disabled="true">
            </lx-text-field>
        </div>
    </div>
</div>