            <table class="data-table" st-table="vm.payrollSummary">
        <thead>
            <tr>
                <th colspan='8' style="padding: 0px 20px;">
                    <header class="data-table-header tc-black" style="padding: 0px">                  
                    <div class="data-table-header__label">
                        <span class="fs-title">Payroll Summary</span>
                    </div>
                    <div class="data-table-header__actions">
                    <!-- <div flex-container="row" flex-gutter="24" class="mb++"> -->
                        <!-- <div flex-item> -->
                            <lx-search-filter st-search="" position="right" type="search" closed></lx-search-filter>
                        <!-- </div> -->
                        <!-- <div flex-item> -->
                            <!-- <lx-date-picker model="vm.filter.date_from" label="Select Period From" locale="en" allow-clear="true"></lx-date-picker> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    </div>
                    <div style="width: 250px; padding-bottom: 30px;">
                           <div class="data-table-header__label mr++">
                            <lx-date-picker model="vm.filter.date_from" label="Select Period From" locale="en" allow-clear="true"></lx-date-picker>
                    </div>
                    </div>
                </header>
                </th>
            </tr>
            <tr class="data-table-row">
                <th st-sort="id" class="data-table__sortable-cell">ID</th>
                <th st-sort="first_name" class="data-table__sortable-cell">Employee Name</th>
                <th colspan="2" st-sort="leave_type" class="data-table__sortable-cell">Payroll Period </th>
                <th st-sort="created_at" class="data-table__sortable-cell">Total Earning</th>
                <th st-sort="date_start" class="data-table__sortable-cell">Total Deduction</th>
                <th st-sort="date_end" class="data-table__sortable-cell">Net Salary</th>
                <th style="width: 50px">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-table-row" ng-repeat="row in (vm.payrollSummary | filter:{payroll_from : (vm.date.date_from | date:'yyyy-MM-dd') })">
                <td>{{row.id}}</td>
                <td>{{row.first_name + ' ' + row.last_name}}</td>
                <td colspan="2">{{row.payroll_from | asDate | date:'yyyy-MM-dd'}} - {{row.payroll_to | asDate | date:'yyyy-MM-dd'}}</td>
                <td style="text-align: right">{{row.total_earning | number:2}}</td>
                <td style="text-align: right">{{row.total_deduction | number:2}}</td>
                <td style="text-align: right">{{(row.total_earning - row.total_deduction) | number:2}}</td>
                <td>
                    <lx-dropdown position="right" over-toggle="true">
                        <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                            <i class="mdi mdi-dots-horizontal"></i>
                        </button>

                        <lx-dropdown-menu>
                            <ul>
                                <li>
                                    <a class="dropdown-link" target="_blank" 
                                    href="http://api.apservices.com/api/report/?report_type=payslip&emp_no={{row.employee_number}}">
                                    <i class="mdi mdi-delete"></i> View Payslip</a>
                                </li>
                            </ul>
                        </lx-dropdown-menu>
                    </lx-dropdown>
                </td>
            </tr>
        </tbody>
    </table>