<ng-include src="'src/modules/shared/views/header.html'"></ng-include>
<ng-include src="'src/modules/components/hr/opening/dialogs/addOpeningDialog.html'"></ng-include>
<div class="main">
	<ng-include src="'src/modules/shared/views/sidebars/hr-sidebar.html'"></ng-include>
    <div class="main-section">
        <h3 class="main-section__title">Manage Openings</h3>
    	<div class="main-section__content">
            <header class="data-table-header tc-black">
                <div class="data-table-header__label">
                    <span class="fs-title">Create Opening</span>
                </div>
            </header>
            <div flex-container="column" flex-gutter="24" class="pl++ pr++">
                <ng-include src="'src/modules/components/hr/opening/common/addOpening.html'"></ng-include>
                <div class="mb content_right pt++">
                    <button ng-click="vm.createOpening()" class="btn btn--l btn--blue btn--raised" lx-ripple>Create</button>
                    <a href="#/hr/opening" class="btn btn--l btn--blue btn--flat" lx-ripple>Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- googleAutocomplete -->