
.animate-card {
  -webkit-transform: scale(0) translateZ(0);
          transform: scale(0) translateZ(0);
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
          transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  opacity: 0;
  height: 0px;
}

html         { 
  overflow-x:hidden; 
}

.animate-card.active {
  height: auto;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 1;
}

.animate-card.inactive {
  height: auto;
  -webkit-transform: scale(0) translateZ(0);
          transform: scale(0) translateZ(0);
  opacity: 0;
}

.animate-card-center {
  -webkit-transform: scale(0) translateZ(0);
          transform: scale(0) translateZ(0);
  -webkit-transition: .2s all cubic-bezier(0.4, 0, 0.2, 1);
          transition: .2s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  opacity: 0;
  height: 0px;
}

.animate-card-center.active {
  height: auto;
  -webkit-transform: scale(1) translateZ(0);
          transform: scale(1) translateZ(0);
  opacity: 1;
}

.animate-card-center.inactive {
  height: auto;
  -webkit-transform: scale(0) translateZ(0);
          transform: scale(0) translateZ(0);
  opacity: 0;
}

.page        { 
    bottom:0; 
    padding-top:50px;
    position:absolute; 
    top:0;  
    width:100%; 
}

.page.ng-leave  { z-index:2; }
.page.ng-enter  { z-index:1; }

.animate-page      {     
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.animate-page.ng-leave        {     
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;    

}