
html {
	overflow-y: scroll;
}

.pt1-5 {
	margin-top: 12px;
	float: right;
}

.data-table-header {
	border-bottom: none !important;
}

/* PAGINATION */

ul.pagination {
	
}

.data-table__selectable-row th:first-child:before, .data-table__selectable-row td:first-child:before {
  content: none !important;
}

.data-table__selectable-row:hover {
	cursor: pointer !important;
}
.dropdown-menu 
{
    overflow-y: hidden; 
}

.app-dropdown-divider {
      height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: rgba(0,0,0,.12);
}