<div class="card bgc-indigo-500 tc-white">
    <div class="toolbar">
        <div class="toolbar__left mr+++">
            <a href="#/applicant/dashboard" class="btn btn--l btn--black btn--icon" lx-ripple>
                <i class="mdi mdi-home tc-white"></i>
            </a>
        </div>

        <span class="toolbar__label fs-title">
        	<strong>Asia Wide</strong>
        </span>

        <div class="toolbar__right tc-white">
			<strong class="pr++">Welcome Applicant</strong>
            <lx-dropdown position="right" from-top>
                <button class="btn btn--l btn--black btn--icon" lx-ripple lx-dropdown-toggle>
                    <i class="mdi mdi-dots-vertical tc-white"></i>
                </button>

                <lx-dropdown-menu>
                    <ul>
                        <li><a href="#/applicant/applications" class="dropdown-link">My Applications</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="#/applicant/account" class="dropdown-link">Profile</a></li>
                        <li><a href="#/applicant/resume" class="dropdown-link">My Resume</a></li>
                        <li><a class="dropdown-link">Account</a></li>
                        <li><a x-logout class="dropdown-link">Sign out</a></li>
                    </ul>
                </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </div>
</div>