<header class="header bgc-grey-800">
    <div class="menubar">
        <button class="btn btn--m btn--icon btn--white" lx-ripple="white" ng-click="Sidebar.toggleSidebar()">
            <i class="mdi mdi-menu"></i>
        </button>
    </div>

    <h1 class="main-logo">
        <a ng-href-void="" class="main-nav__link" lx-ripple="white">
            <strong>A & P Services</strong> 
            <span ng-if="user_type == 'admin'">Administrator</span>
            <span ng-if="user_type == 'hr'">Human Resource</span>
            <span ng-if="user_type == 'accounting'">Accounting</span>
            <span ng-if="user_type == 'employee'">Employee</span>
        </a>
    </h1>
    <nav class="main-nav main-nav--lap-and-up">
        <ul>            <li> 
                <div 
                    class="btn--m btn--white btn--icon" 
                    lx-ripple 
                    tooltip-position="bottom">
                        <!-- <i class="mdi mdi-dots-vertical"></i> -->
                        <img src="http://placehold.it/100x100" alt="">
                </div>
            </li>
            <li><a href="/getting-started/installation" class="main-nav__link" lx-ripple="white"></a></li>
            <li> 
                <lx-dropdown position="right" from-top="true">
                    <button 
                        class="btn btn--m btn--white btn--icon" 
                        lx-ripple lx-dropdown-toggle
                        lx-tooltip="Account" 
                        tooltip-position="bottom">
                            <i class="mdi mdi-dots-vertical"></i>
                    </button>

                    <lx-dropdown-menu>
                        <ul>
                            <li>
                                <a href="#/{{user_type}}/account" class="dropdown-link dropdown-link--is-large">
                                    <i class="mdi mdi-settings"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/{{user_type}}/profile" class="dropdown-link dropdown-link--is-large">
                                    <i class="mdi mdi-account"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li>
                                <a ng-href-void="" x-logout class="dropdown-link dropdown-link--is-large">
                                    <i class="mdi mdi-logout"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </lx-dropdown-menu>
                </lx-dropdown>
            </li>
        </ul>
    </nav>

    <nav class="main-nav main-nav--palm">
        <lx-dropdown position="right" from-top>
            <button class="btn btn--m btn--white btn--icon" lx-ripple="white" lx-dropdown-toggle>
                <i class="mdi mdi-dots-vertical"></i>
            </button>

            <lx-dropdown-menu>
                <ul>
                    <li><a href="/getting-started/installation" class="dropdown-link">Admin</a></li>
                    <li><a href="/css/mixins" class="dropdown-link">Account</a></li>
                    <li><a ng-href-void="" x-logout class="dropdown-link">Logout</a></li>
                </ul>
            </lx-dropdown-menu>
        </lx-dropdown>
    </nav>
</header>
