    <div class="main-section__title">
        <span >
            {{vm.employee.first_name}} {{vm.employee.last_name}} ({{vm.employee.employee_number}}) 
        </span>
        <button ng-click="vm.saveEmployeeUpdate()" class="btn btn--m btn--blue btn--flat mt+" style="float: right" lx-ripple>Save Changes</button>
    </div>
    <div class="main-section__content">
        <div flex-container="row" flex-gutter="24" >
            <div flex-item="6">
                <div class="card">
                    <div class="p+">
                        <strong class="fs-headline display-block">Profile</strong>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Contact Number">
                                <input type="text" ng-disabled="true" ng-model="vm.employee.contact_number">
                            </lx-text-field>
                        </div>
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Date of Birth">
                                <input type="text" ng-disabled="true" ng-model="vm.employee.birthdate">
                            </lx-text-field>
                        </div>
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Civil Status">
                                <input type="text" ng-disabled="true" ng-model="vm.employee.civil_status">
                            </lx-text-field>
                        </div>
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Gender">
                                <input type="text" ng-disabled="true" ng-model="vm.employee.gender">
                            </lx-text-field>
                        </div>
                        <div flex-item>
                            <lx-text-field disabled="vm.loading" label="Address">
                                <input type="text" ng-disabled="true" ng-model="vm.employee.address">
                            </lx-text-field>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex-item="6">
                <div class="card">
                    <div class="p+">
                        <strong class="fs-headline display-block">Account Numbers</strong>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="Bank Account">
                                        <input type="text" ng-model="vm.employee.account_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="PhilHealth Number">
                                        <input type="text" ng-model="vm.employee.phil_health_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="SSS Number">
                                        <input type="text" ng-model="vm.employee.sss_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="TIN Number">
                                        <input type="text" ng-model="vm.employee.tin_number">
                                    </lx-text-field>
                                </div>
                                <div flex-item>
                                    <lx-text-field disabled="vm.loading" label="HDMF Number">
                                        <input type="text" ng-model="vm.employee.pagibig_number">
                                    </lx-text-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex-container="row" flex-gutter="24" class="mt+">
            <div flex-item="6">
                <div class="card">
                    <div class="p+">
                        <strong class="fs-headline display-block">Employement Details</strong>
                        <div class="paragraph fs-body-1 mt+">
                            <div flex-container="column" flex-gutter="24">
                        <div flex-item>
                            <lx-select ng-model="vm.selected_position" placeholder="Position" choices="vm.filters.positions" error="fezge" floating-label>
                            <lx-select-selected>
                                {{ $selected.position}}
                            </lx-select-selected>

                            <lx-select-choices>
                                {{ $choice.position }}
                            </lx-select-choices>
                        </lx-select>
                        </div>
                        <div flex-item>
                            <lx-select ng-model="vm.selected_department" placeholder="Department" choices="vm.filters.departments" error="fezge" floating-label>
                                <lx-select-selected>
                                    {{ $selected.department}}
                                </lx-select-selected>

                                <lx-select-choices>
                                    {{ $choice.department }}
                                </lx-select-choices>
                            </lx-select>
                        </div>
                        <div flex-item>
                            <lx-select ng-model="vm.selected_exemption" placeholder="Tax Exemption" choices="vm.filters.tax_exemption" error="fezge" floating-label>
                                <lx-select-selected>
                                    {{ $selected.description}}
                                </lx-select-selected>

                                <lx-select-choices>
                                    {{ $choice.description }}
                                </lx-select-choices>
                            </lx-select>
                        </div>
                        <div flex-item>
                            <lx-date-picker model="vm.employee.hire_date" label="Hire Date" locale="en" allow-clear="true"></lx-date-picker>
                        </div>
                        <div flex-item>
                            <lx-date-picker model="vm.employee.endo_date" label="End of Contract Date" locale="en" allow-clear="true"></lx-date-picker>
                        </div>
                        </div>
                        <div flex-container="column" flex-gutter="24" class="mt++">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>