<lx-dialog class="dialog dialog--l" id="addOpeningDialog" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">
    <div class="dialog__header">
        <div class="toolbar bgc-light-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">Create Opening</span>
        </div>
    </div>
    
    <div class="dialog__content p++">
        <ng-include src="'src/modules/components/hr/opening/common/addOpening.html'"></ng-include>
    </div>
    <div class="dialog__actions">

        <lx-progress type="circular" color="#5fa2db" ng-if="vm.loading"></lx-progress>
        <button class="btn btn--l btn--black btn--flat" lx-ripple lx-dialog-close>Cancel</button>
        <button class="btn btn--l btn--blue btn--flat" ng-click="vm.createOpening()" lx-ripple>Add</button>
    </div>
</lx-dialog>