<div class="main-section p++">
    <div class="card">
        <div class="toolbar">
            <div class="toolbar__left mr+++ tc-grey-700">
                <i class="icon icon--l icon--black-2 icon--flat mdi mdi-worker"></i>
            </div>
            <span class="toolbar__label fs-title">Employee Dashboard</span>
        </div>
    </div>
    <div class="mt+">
        <div flex-container="row" flex-gutter="24" flex-wrap>
                <div flex-item="6" class="mt++">
                    <div class="card">
                        <div flex-container>
                            <div flex-item>
                                <div class="toolbar">
                                    <span class="toolbar__label fs-title ml">Announcements</span>
                                </div>
                            </div>
                        </div>
                        <div class="divider divider--dark"></div>
                        <ul class="list mt++">
                            <li ng-repeat="announcement in vm.announcements" class="list-row list-row--multi-line list-row--has-separator">
                                <div class="list-row__primary">
                                    <i class="icon icon--l icon--grey icon--flat mdi mdi-bell-ring"></i>
                                </div>
                                <div class="list-row__content">
                                    <span class="display-block">{{announcement.title}} <small>(Posted: {{announcement.created_at | asDate | date:medium}})</small> </span>
                                    <span class="display-block fs-body-1 tc-black-2">Posted By: {{announcement.first_name}} {{announcement.last_name}}</span>
                                    <span class="display-b  lock fs-body-1 tc-black-2">{{announcement.details}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div flex-item="6" class="mt++">
              
                </div>  
</div>